@charset "utf-8";

.booking-widget {
  position: fixed;
  background: #fff;
  top: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  @include md {
    position: relative;
    margin-top: -80px;
    background: none;
  }
  &.sticky {
    position: fixed;
    top: 94px;
    width: 100%;
    z-index: 9;
    bottom: auto;
    padding-bottom: 0 !important;
    box-shadow: 3.5px 3.5px 6px 0 rgba(0, 0, 0, 0.04);
    background: #fff;
    margin: 0;
    .tabs-header{
      display: none;
    }
    .tabs-content {
        height: 80px;
        padding: 10px 60px;
        label {
          margin-bottom: 9px;
          display: none;
        }
    }
    + .home-slider {
        padding-top: 312px;
    }
  }

  .booking-title {
    @extend %clearfix;
    text-align: center;
    font-family: $primary-font;
    font-weight: bold;
    @include md {
      display: none;
    }

    p {
      @include font-size(14px);
      margin: 0;
      float: left;
      width: 84%;
      padding: 18px 0;
      line-height: 1.25;
      letter-spacing: 5.3px;
    }

    a {
      float: right;
      padding: 18px 22px;
      border-left: 1px solid #eee;
    }
  }

  .tabs-header {
    @extend %clearfix;
    display: block;
    margin: 0;
    @include mobile {
      border-top: 1px solid #eee;
    }

    li {
      background: #eeeeee;
      padding: 0;
      width: 13.3%;
      @include mobile {
        width: 33.3%;
        float: left;
      }

      a {
        height: 46px;
        display: block;
        text-align: center;
        padding: 14px 0;
        opacity: 0.4;
        font-family: $primary-font;
        @include font-size(14px);
        font-weight: bold;
        letter-spacing: 1.1px;
        color: $default-color;
        margin: 0;
        &.tabs-title-active {
          opacity: 1;
          background: $secondary-color;
        }

        &.tabs-title-active:before {
          border: 0;
        }

        &.tabs-title-active:after {
          background: none;
          display: inline;
        }
      }

      &:last-child {
        border-left: 1px solid #d3d3d3;
      }

      &:first-child {
        border-right: 1px solid #d3d3d3;
      }
    }
  }

  .tabs-content {
    @extend %clearfix;
    background: $secondary-color;
    height: 196px;
    padding: 50px 60px;
    @include mobile {
      padding: 20px;
    }
  }

  #booking-tab1,
  #booking-tab2,
  #booking-tab3 {
    @extend %clearfix;
    .promo-code {
      float: left;
      margin-right: 11px;
      @include mobile {
        width: 100%;
        margin: 0;
        padding: 20px 0;
      }

      .form-group {
        margin: 0;
        width: 200px;
        @include mobile {
          width: 100%;
        }

        label {
          font-family: $secondary-font;
          @include font-size(14px);
          font-weight: 500;
          letter-spacing: 1.1px;
          text-align: left;
          color: $default-color;
          padding: 5px 10px;
        }

        .input-showtext {
          position: relative;

          input,
          input::placeholder {
            font-family: $primary-font;
            background-size: 6px;
            background-repeat: no-repeat;
            cursor: pointer;
            border-radius: 4px;
            margin: 0;
            height: 66px;
            border: 2px solid #eeeeee;
            @include font-size(12px);
            font-weight: bold;
            letter-spacing: 0.9px;
            padding: 0 11px;
            color: $default-color;

            &:focus {
              border: 2px solid #eeeeee;
            }
          }

          input::placeholder {
            border: 0;
            padding-left: 0;
          }
        }
      }
    }

    .date-picker-tab1,
    .date-picker-tab2-single,
    .date-picker-tab3 {
      float: left;
      margin-right: 9px;
      position: relative;
      @include mobile {
        float: none;
        width: 100%;
      }

      label {
        padding: 5px 10px;
      }

      .date-picker-tab1-container, .date-picker-tab3-container {
        border: 2px solid #eeeeee;
        border-radius: 4px;
        width: 360px;
        position: relative;
        @include mobile {
          width: 100%;
        }
      }

      .endDateContainer,
      .startDateContainer {
        float: left;
        margin-right: 6px;
        @include mobile {
          margin-right: 0;
          width: 46%;
        }
      }

      .endDate,
      .startDate {
        font-family: $primary-font;
        @include font-size(12px);
        font-weight: bold;
        line-height: 2.5;
        letter-spacing: 0.9px;
        text-align: left;
        color: $default-color;
        //border: 2px solid #eeeeee;
        height: 62px;
        line-height: 66px;
        padding-top: 18px;
        background: url("../icons/calendar-interface-symbol-tool.svg") 10% center no-repeat;
        padding-left: 45px;
        background-size: 20px;
        //width: 164px;
        @include mobile {
          width: 100%;
          background: none;
          padding-left: 15px;
        }

        .year,.day, .month{
          display: inline;
        }

        .day {
          @include mobile {
            font-size: 45px;
            float: left;
            margin: 6px 10px 0 0;
          }
        }

        .dayoftheweek {
          opacity: 0.5;
          color: rgba(0, 0, 0, 0.5);
        }
      }

      .daysFromTo .dayoftheweek {
        display: none;
      }

      .daysFromTo {
        font-family: $primary-font;
        @include font-size(12px);
        font-weight: bold;
        letter-spacing: normal;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
      }

      .values {
        @extend %clearfix;
        position: relative;
        @include mobile {
          clear: both;
        }

        .clear,
        .to,
        .value {
          margin: 0 5px;
          display: block;
          line-height: 14px;
          text-align: left;
        }

        .to {
          float: left;
          padding-top: 25px;
          //margin-right: 11px;
          vertical-align: middle;
          color: #d3d3d3;
        }

        .value {
          span {
            cursor: pointer;
          }

          &.active span {
            color: #3399cc;
          }

          input {
            opacity: 0;
          }
        }
      }

      .calendar-backdrop {
        display: none;
        opacity: 0.5;
        height: 100vh;
        width: 100vw;
        background: $primary-bg;
        left: 0;
        position: fixed;
        top: 0;
        z-index: 99998;
      }

      .calendar {
        display: none;
        width: 700px;
        height: 430px;
        margin: 0;        
        background: $secondary-color;
        text-align: center;
        overflow: hidden;
        top: 65px;
        left: 0;
        z-index: 99999;
        -webkit-user-select: none;
        -moz-user-select: none;
        box-sizing: border-box;
        transition-duration: 0.5s;
        position: absolute;
        //border-top: 2px solid #000;
        // top: 50%;
        // left: 50%;
        // margin-top: -283px;
        // margin-left: -350px;

        @include mobile {
          width: 320px;
        }
        &:after {
          content: '';
          top: -21px;
          width: 0;
          left: -170px;
          @include mobile {
            left: 0;
          }
          position: relative;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 9px solid black;
        }

        &:before {
          content: "";
          position: absolute;
          height: 5px;
          border-bottom: 4px solid #000;
          top: 7px;
          left: 0;
          width: 100%;
        }
      }

      &.active .calendar {
        display: block;
      }

      .calendar {
        .clear {
          width: 16px;
          height: 16px;
          margin: 0 auto;
          cursor: pointer;
        }

        .button-next,
        .button-prev {
          position: absolute;
          top: 20px;
          z-index: 3;
          width: 36px;
          height: 29px;
          padding: 8px;
          cursor: pointer;
          box-sizing: border-box;
          background-size: 15px;
          background-position: 50% 50%;
          background-repeat: no-repeat;
        }

        .button-prev {
          background-image: url("../icons/prev.svg");
          left: 20px;
        }

        .button-next {
          background-image: url("../icons/next.svg");
          right: 20px;
        }

        .close {
          position: absolute;
          top: 0;
          width: 15px;
          left: 50%;
        }

        .calendarContainer {
          position: absolute;
          top: 0;
          left: -292px;
          z-index: 2;
          float: left;
          text-align: left;
          padding-top: 15px;

          table {
            display: inline-block;
            vertical-align: top;
            width: 304px;
            @include mobile {
              width: 285px;
            }
            margin: 10px;
            padding: 0;
            border-collapse: collapse;
            border-spacing: 0;
            text-align: center;

            caption {
              border-bottom: 2px solid $default-color;
              font-family: $primary-font;
              @include font-size(14px);
              font-weight: bold;
              line-height: 2.14;
              letter-spacing: 1.1px;
              text-align: center;
              color: $default-color;
              padding-bottom: 12px;
            }

            th {
              width: 37px;
              @include font-size(14px);
              line-height: 20px;
              box-sizing: border-box;
              padding: 0;
              font-family: $primary-font;
              font-weight: bold;
              text-align: center;
              color: $default-color;
              padding: 10px 0;
              border: none;
            }

            td {
              width: 40px;
              height: 40px;
              @include font-size(15px);
              line-height: 33px;
              box-sizing: border-box;
              padding: 0;
              text-align: center;
              border: none;
              border: 5px solid $secondary-color;

              span {
                display: block;
                border: 1px solid #eeeeee;
              }

              &.valid {
                cursor: pointer;

                &:hover {
                  background: #cccccc;
                }
              }

              &.today {
                color: #666;
              }

              &.inactive {
                color: #ccc;
              }

              &.valid {
                &.hovered,
                &.intermediate,
                &.intermediate-hover {
                  background: #eeeeee;
                  color: $default-color;
                }

                &.hovered,
                &.intermediate-hover {
                  color: $default-color;
                }

                &.end,
                &.start {
                  background: $primary-bg;
                  color: $secondary-color;
                }
              }
            }
          }
        }

        .bottomLayer {
          position: absolute;
          bottom: 20px;
          left: 0;
          display: block;
          width: 100%;
          .year,.day, .month{
            display: inline;
          }

          .days {
            opacity: 0.6;
            font-family: $primary-font;
            @include font-size(14px);
            font-weight: bold;
            letter-spacing: normal;
            text-align: center;
            color: rgba(0, 0, 0, 0.6);
          }

          .nights {
            height: 13px;
            font-family: $primary-font;
            @include font-size(14px);
            font-weight: bold;
            letter-spacing: normal;
            text-align: center;
            color: $default-color;
            margin: 10px 0 30px;
          }

          .closePopup {
            opacity: 1;
            width: 320px;
            background-color: #c5ad6c;
            margin: 0 auto;
            padding: 25px 0;
            @include font-size(14px);
            font-weight: bold;
            letter-spacing: 2.8px;
            text-align: center;
            color: $secondary-color;
            cursor: pointer;
          }
        }
      }
    }

    .date-picker-tab2-single, .date-picker-tab3 {
      @include mobile {
        clear: both;
        padding: 20px 0;
      }
    }

    .people {
      float: left;
      width: 200px;
      margin-right: 20px;
      position: relative;
      @include mobile {
        width: 100%;
        padding: 20px 0 0 0;
        margin-right: 0;
      }

      .people-list {
        font-family: $primary-font;
        background-size: 6px;
        background-repeat: no-repeat;
        cursor: pointer;
        border-radius: 4px;
        margin: 0;
        width: 200px;
        height: 66px;
        border: 2px solid #eeeeee;
        @include font-size(12px);
        font-weight: bold;
        line-height: 2.5;
        letter-spacing: 0.9px;
        color: $default-color;
        padding: 15px 0;
        @include mobile {
          width: 100%;
        }

        p {
          background: url("../icons/multiple-users-silhouette.svg") 5% center no-repeat;
          padding-left: 50px;
          background-size: 25px;
          line-height: 1.4em;
        }

        span {
          display: block;
          opacity: 0.5;
          font-family: $primary-font;
          @include font-size(12px);
          font-weight: bold;
          letter-spacing: 0.9px;
          text-align: left;
          color: rgba(0, 0, 0, 0.5);
        }
      }

      label {
        padding: 5px 10px;
      }
    }

    .find-button {
      float: left;
      @include mobile {
        float: none;
        width: 100%;
        clear: both;
        padding: 30px 0;
      }

      label {
        text-decoration: underline;
        background: url("../icons/forma-1.svg") left center;
        background-repeat: no-repeat;
        padding: 5px 10px 5px 20px;
        clear: both;
      }

      button {
        background: #c5ad6c;
        color: #fefefe;
        border: none;
        height: 66px;
        width: 182px;
        @include mobile {
          width: 100%;
        }
      }
    }
  }

  #booking-tab2,
  #booking-tab3 {
    .number-of-people,
    .room-locations,
    .shop,
    .time-selection {
      float: left;
      margin-right: 20px;
      @include mobile {
        width: 100%;
        margin: 0;
      }

      .form-group {
        margin: 0;
        width: 142px;
        @include mobile {
          width: 100%;
        }

        label {
          font-family: $secondary-font;
          @include font-size(14px);
          font-weight: 500;
          letter-spacing: 1.1px;
          text-align: left;
          color: $default-color;
          padding: 5px 10px;
        }

        .input-showtext {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            right: 10%;
            top: 45%;
            width: 0;
            cursor: pointer;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 5px solid $default-color;
            clear: both;
          }

          input,
          input::placeholder {
            font-family: $primary-font;
            background-size: 6px;
            background-repeat: no-repeat;
            cursor: pointer;
            border-radius: 4px;
            margin: 0;
            height: 66px;
            border: 2px solid #eeeeee;
            @include font-size(12px);
            font-weight: bold;
            letter-spacing: 0.9px;
            padding: 0 11px;
            color: $default-color;

            &:focus {
              border: 2px solid #eeeeee;
            }
          }

          input::placeholder {
            border: 0;
            padding-left: 0;
          }
        }

        .popup-menu {
          display: none;

          ul {
            margin: 0;
            padding: 10px 0;

            li {
              border-bottom: 1px solid #eeeeee;

              &:first-child {
                border-top: 1px solid #eeeeee;
              }

              span {
                cursor: pointer;
                display: block;
                @include font-size(12px);
                line-height: 1.4;
                padding: 8px 12px;
                color: $default-color;

                &.active,
                &:focus,
                &:hover {
                  background-color: #eeeeee;
                }
              }
            }
          }

          .popup-content-input {
            overflow-y: auto;
            position: absolute;
            background: #fff;
            z-index: 999;
            width: 200px;
            //border-top: 3px solid #000;
            //margin-top: 10px;
            padding-top: 10px;
            @include mobile {
              width: 100%;
            }

            &:after {
              content: '';
              top: 2px;
              width: 0;
              left: 48%;
              position: absolute;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 9px solid black;
            }

            &:before {
              content: "";
              position: absolute;
              height: 5px;
              border-bottom: 4px solid #000;
              top: 8px;
              left: 0;
              width: 100%;
            }
          }
        }
      }
    }

    .date-picker-tab2-single {
      .date-picker-tab2-single-container {
        @extend %clearfix;
        border: 2px solid #eeeeee;
        border-radius: 4px;
        width: 308px;
        @include mobile {
          width: 100%;
        }
        .values {
          float: left;

          .startDate {
            width: 181px;
            height: 62px;
            background: url("../icons/calendar-interface-symbol-tool.svg") 5% center no-repeat;
            padding-left: 35px;
            background-size: 20px;
            border: 0;
            @include mobile {
              background: none;
              padding-left: 15px;
            }

            .value {
              border-right: 2px solid #eeeeee;
              padding-right: 20px;
            }
          }
        }
      }
    }

    .people {
      margin-right: 20px;
    }

    .shop {
      margin-right: 58px;
      @include mobile {
        margin-right: 0;
      }

      .form-group {
        width: 290px;
        @include mobile {
          width: 100%;
        }
      }
    }

    .time-selection {
      margin: 0;
      width: 100px;

      .form-group {
        width: auto;

        .input-showtext {
          input,
          input::placeholder {
            border: 0;
            font-family: Lato;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1.4px;
            text-align: left;
            color: #000000;
            height: 62px;

            &:focus {
              border: none;
            }
          }
        }
      }

      .popup-menu {
        .popup-content-input {
          width: 100px!important;

          ul li {
            font-family: Lato;
          }
        }
      }
    }
  }

  #booking-tab1,
  #booking-tab3 {
    .room-locations {
      margin-right: 11px;

      .form-group {
        width: 200px;
        @include mobile {
          width: 100%;
        }
      }
    }
  }
}

// .overlay {
//   height: 100%;
//   width: 100%;
//   background-color: $default-color;
//   opacity: 0.5;
//   overflow-y: hidden;
//   transition: 0.5s;
// }

.popup-wrap {
  height: 100%;
  width: 100%;
  ///display: none;
  position: relative;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
}

.big-popup {
  width: 640px;
    @include mobile {
      width: 100%;
    }
  position: absolute;
  top: 0;
  left: 0;
    // This lines is not working
  // margin-left: -320px;
  // margin-top: -275px;
  padding: 77px 55px 45px;
  background-color: $secondary-color;
  opacity: 1;
  z-index: 1001;
  transition: 0.5s;

  &:after {
    content: '';
    top: 2px;
    width: 0;
    left: 15%;
    position: absolute;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 9px solid black;
  }

  &:before {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 4px solid #000;
    top: 8px;
    left: 0;
    width: 100%;
  }


  .head-popup {
    @extend %clearfix;
    padding-bottom: 32px;

    section {
      float: left;

      .form-group {
        margin: 0;
        display: inline;

        label {
          font-family: $secondary-font;
          @include font-size(14px);
          font-weight: 500;
          font-style: normal;
          letter-spacing: 1.1px;
          text-align: left;
          color: $default-color;
          padding: 20px 44px 20px 12px;
          float: left;
        }

        .input-showtext {
          position: relative;
          @extend %clearfix;
          float: left;
          width: 90px;

          &:after {
            content: '';
            position: absolute;
            right: 25%;
            top: 45%;
            width: 0;
            cursor: pointer;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 5px solid $default-color;
            clear: both;
          }

          input,
          input::placeholder {
            font-family: $primary-font;
            background-size: 6px;
            background-repeat: no-repeat;
            cursor: pointer;
            border-radius: 4px;
            margin: 0;
            height: 66px;
            border: 2px solid #eeeeee;
            @include font-size(12px);
            font-weight: bold;
            letter-spacing: 0.9px;
            padding: 0 11px;
            color: $default-color;

            &:focus {
              border: 2px solid #eeeeee;
            }
          }

          input::placeholder {
            border: 0;
            padding-left: 0;
          }
        }

        .popup-menu {
          display: none;

          ul {
            margin: 0;
            padding: 10px 0;

            li {
              border-bottom: 1px solid #eeeeee;

              &:first-child {
                border-top: 1px solid #eeeeee;
              }

              span {
                cursor: pointer;
                display: block;
                @include font-size(12px);
                line-height: 1.4;
                padding: 8px 12px;
                color: $default-color;

                &.active,
                &:focus,
                &:hover {
                  background-color: #eeeeee;
                }
              }
            }
          }

          .popup-content-input {
            overflow-y: auto;
            position: absolute;
            background: #fff;
            z-index: 999;
            width: 90px;
            padding-top: 10px;
            // border-top: 3px solid #000;
            // margin-top: 10px;
            &:after {
              content: '';
              top: 2px;
              width: 0;
              left: 48%;
              position: absolute;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 9px solid black;
            }

            &:before {
              content: "";
              position: absolute;
              height: 5px;
              border-bottom: 3px solid #000;
              top: 8px;
              left: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .input-popup {
    border: 2px solid #eeeeee;
    padding: 33px;
    margin-bottom: 40px;

    .title {
      @include font-size(14px);
      font-family: $primary-font;
      font-weight: bold;
      line-height: 2.14;
      letter-spacing: normal;
      text-align: left;
      color: $default-color;
      margin-bottom: 12px;
    }

    ul li {
      @include font-size(12px);
      list-style: disc;
    }
  }

  .btn-group {
    button {
      margin: 0;
      border: none;
    }

    .clear {
      width: 261px;
      height: 70px;
      cursor: pointer;
      background-color: #eeeeee;
      float: left;
    }

    .done {
      width: 261px;
      height: 70px;
      float: right;
      background-color: #c5ad6c;
    }
  }
}
