.main-banner {
    position: relative;
    padding-top: 54px;
    @include md {
        padding-top: 94px;
    }
    .banner-image{
        img{
            width: 100%;
            height: auto; 
        }
    }
    .banner-text {
        @include center(vertical);
        text-align: center;
        color: $secondary-color; 
        width: 100%;
        text-align: center;
        h1 {
            font-family: 'YuMin';
            font-weight: 500;
            line-height: 1;
            letter-spacing: 3.8px;
            text-align: center;            
            margin: 0 0 15px;
            @include md {
                margin: 0 0 20px; 
            }
        }
        span {            
            @include font-size(10px);
            display: block;
            font-family: 'Lato-B';  
            line-height: 1.5;
            letter-spacing: 5.3px;
            @include md {
                @include font-size(14px);
            }
        }
    }
    .photos-link {
        @include center(vertical);
        right: 0; 
        a {
            @include font-size(10px);
            background: $default-bg;
            font-family: 'Lato-B';
            line-height: 1;
            letter-spacing: 0.1px;
            text-transform: uppercase;
            padding: 15px 20px;
            display: block;
            margin-bottom: 1px;
            text-align: left;
            color: rgba(0, 0, 0, 0.6);
        }
        span{
            margin-right: 5px;
        }
    }
    .photos-link-mobile {
        position: absolute;
        top: 54px;
        right: 0; 
        a {
            @include font-size(10px);
            background: $default-bg;
            padding: 8px; 
            display: inline-block;
        }         
    }
}