.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 25.6em 207.5em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.sprite-account_pc:before {
      background-position: -1em -1em;
      width: 2em;
      height: 2.3em;
  }




  .icon.sprite-account_sp:before {
      background-position: -1em -5.3em;
      width: 1.3em;
      height: 1.6159999999999997em;
  }




  .icon.sprite-arw_black_pc:before {
      background-position: -1em -9em;
      width: 1.7em;
      height: 0.8em;
  }




  .icon.sprite-arw_white_pc:before {
      background-position: -1em -11.8em;
      width: 1.7em;
      height: 0.8em;
  }




  .icon.sprite-calendar-interface-symbol-tool:before {
      background-position: -1em -14.6em;
      width: 3.6447000000000003em;
      height: 3.6447000000000003em;
  }




  .icon.sprite-calender_pc:before {
      background-position: -1em -20.3em;
      width: 1.8em;
      height: 1.8em;
  }




  .icon.sprite-checked_pc:before {
      background-position: -1em -24.1em;
      width: 2.082em;
      height: 1.4844000000000002em;
  }




  .icon.sprite-checked_sp:before {
      background-position: -1em -27.6em;
      width: 2.082em;
      height: 1.4844000000000002em;
  }




  .icon.sprite-close_black_sp:before {
      background-position: -1em -31.1em;
      width: 1.4em;
      height: 1.4em;
  }




  .icon.sprite-close_white_sp:before {
      background-position: -1em -34.5em;
      width: 1.4em;
      height: 1.4em;
  }




  .icon.sprite-cn-flag:before {
      background-position: -1em -37.9em;
      width: 1.6em;
      height: 1.1em;
  }




  .icon.sprite-download:before {
      background-position: -1em -41em;
      width: 2em;
      height: 1.7em;
  }




  .icon.sprite-en-flag:before {
      background-position: -1em -44.7em;
      width: 1.6em;
      height: 1em;
  }




  .icon.sprite-fb_pc:before {
      background-position: -1em -47.7em;
      width: 3.6em;
      height: 3.6em;
  }




  .icon.sprite-fb_sp:before {
      background-position: -1em -53.3em;
      width: 4.6em;
      height: 4.6em;
  }




  .icon.sprite-flag_ch:before {
      background-position: -1em -59.9em;
      width: 3em;
      height: 2em;
  }




  .icon.sprite-flag_en:before {
      background-position: -1em -63.9em;
      width: 3em;
      height: 2em;
  }




  .icon.sprite-flag_jp:before {
      background-position: -1em -67.9em;
      width: 3em;
      height: 2em;
  }




  .icon.sprite-flag_kr:before {
      background-position: -1em -71.9em;
      width: 3em;
      height: 2em;
  }




  .icon.sprite-forma-1:before {
      background-position: -1em -75.9em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.sprite-freewifi:before {
      background-position: -1em -79.5em;
      width: 2.8em;
      height: 2.8em;
  }




  .icon.sprite-hotel_photo_sp:before {
      background-position: -1em -84.3em;
      width: 1.8em;
      height: 1.5em;
  }




  .icon.sprite-hotelphoto_pc:before {
      background-position: -1em -87.8em;
      width: 2.2em;
      height: 1.8em;
  }




  .icon.sprite-info_sp:before {
      background-position: -1em -91.6em;
      width: 1.5219999999999998em;
      height: 1.5259999999999998em;
  }




  .icon.sprite-infomation_pc:before {
      background-position: -1em -95.2em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.sprite-insta_pc:before {
      background-position: -1em -98.8em;
      width: 2.1em;
      height: 2.1em;
  }




  .icon.sprite-insta_sp:before {
      background-position: -1em -102.9em;
      width: 1.7em;
      height: 1.7em;
  }




  .icon.sprite-jp-flag:before {
      background-position: -1em -106.6em;
      width: 1.6em;
      height: 1em;
  }




  .icon.sprite-kr-flag:before {
      background-position: -1em -109.6em;
      width: 1.6em;
      height: 1.1em;
  }




  .icon.sprite-like_pc:before {
      background-position: -1em -112.7em;
      width: 1.9em;
      height: 2.2em;
  }




  .icon.sprite-like_sp:before {
      background-position: -1em -116.9em;
      width: 1.4em;
      height: 1.6120000000000005em;
  }




  .icon.sprite-login:before {
      background-position: -1em -120.6em;
      width: 2em;
      height: 2.3em;
  }




  .icon.sprite-logo_pc:before {
      background-position: -1em -124.9em;
      width: 23.6em;
      height: 3.4em;
  }




  .icon.sprite-map_pin_pc:before {
      background-position: -1em -130.3em;
      width: 4em;
      height: 5.8em;
  }




  .icon.sprite-map_pin_sp:before {
      background-position: -1em -138.1em;
      width: 3em;
      height: 4.4em;
  }




  .icon.sprite-menu_sp:before {
      background-position: -1em -144.5em;
      width: 2.5em;
      height: 1.5em;
  }




  .icon.sprite-multiple-users-silhouette:before {
      background-position: -1em -148em;
      width: 8.013em;
      height: 8.013em;
  }




  .icon.sprite-next:before {
      background-position: -1em -158.1em;
      width: 0.6em;
      height: 1em;
  }




  .icon.sprite-people_pc:before {
      background-position: -1em -161.1em;
      width: 2.3em;
      height: 1.81em;
  }




  .icon.sprite-people_sp:before {
      background-position: -1em -165em;
      width: 2.8em;
      height: 2em;
  }




  .icon.sprite-phone:before {
      background-position: -1em -169em;
      width: 1.2em;
      height: 1.2em;
  }




  .icon.sprite-phone-mobile:before {
      background-position: -1em -172.2em;
      width: 1.7em;
      height: 1.8em;
  }




  .icon.sprite-prev:before {
      background-position: -1em -176em;
      width: 0.6em;
      height: 1em;
  }




  .icon.sprite-star:before {
      background-position: -1em -179em;
      width: 1em;
      height: 0.9969000000000001em;
  }




  .icon.sprite-tel_pc:before {
      background-position: -1em -182em;
      width: 1.2em;
      height: 1.2em;
  }




  .icon.sprite-tel_sp:before {
      background-position: -1em -185.2em;
      width: 1.64em;
      height: 1.6299999999999997em;
  }




  .icon.sprite-top-logo:before {
      background-position: -1em -188.9em;
      width: 23.6em;
      height: 3.4em;
  }




  .icon.sprite-tw-flag:before {
      background-position: -1em -194.3em;
      width: 1.6em;
      height: 1em;
  }




  .icon.sprite-tw_pc:before {
      background-position: -1em -197.3em;
      width: 3.6em;
      height: 3.6em;
  }




  .icon.sprite-tw_sp:before {
      background-position: -1em -202.9em;
      width: 3.6em;
      height: 3.6em;
  }





