section.main-banner
	picture.banner-image
		source(media='(min-width: 768px)', srcset='/assets/images/room-banner.jpg')
		img(src='/assets/images/homebanner-mobile.jpg')
	.banner-text
		h1 ルーム
		span ROOM