section.booking-widget.visible-desktop#booking-widget
  .container
    div.booking-title.visible-mobile
      p 空室検索
      a.close-booking
        i.icon-close
    .tabs#booking-tabs
      ul.tabs-header
        li
          a.tabs-title(href='#') お部屋
        li
          a.tabs-title(href='#') レストラン
        li
          a.tabs-title(href='#') お部屋+航空券
      #booking-tab1.tabs-content(onclick='FE.global.bookingWidgetClick()')
        .date-picker-tab1
          label チェックイン
          .date-picker-tab1-container
            .values
              .startDateContainer
                //label チェックイン
                .startDate
                  .value.date_at
                    span.date_at
                    input#date_at.date_at(type='hidden')
              .to ~
              .endDateContainer
                //label チェックアウト
                .endDate
                  .value.date_to
                    span.date_to
                    input#date_to.date_to(type='hidden')
            //.calendar-backdrop
            .calendar
              //img.clear(src='/assets/narita/images/clear.svg' )
              .button.button-prev
              .button.button-next
              .calendarContainer
              .bottomLayer
                span.daysFromTo 2018年00月00日 金曜日 ~ 2018年00月00日 金曜日
                .nights 10 金曜日
                //.button.closePopup &#x5B8C;&#x4E86;
        .people
          label ご利用人数
          .people-list
            p 大人2名, 子供1名
              span １部屋
          .popup-wrap.popup-create
                //.overlay
                .big-popup.people-list-popup
                  .head-popup
                    section.grown-up
                      .form-group
                        label.form-label(for='') 大人
                        .input-custom
                          button 0
                          .popup-menu
                            .popup-content-input
                              ul.cities
                                li
                                  span(target='Hokkaido', names='Hokkaido') 0人
                                li
                                  span(target='Okinawa', names='Okinawa') 1人
                                li
                                  span(target='Tochigi', names='Tochigi') 2人
                                li
                                  span(target='Tokyo', names='Tokyo') 3人
                    section.children
                      .form-group
                        label.form-label(for='') 子供
                        .input-custom
                          button 0
                          .popup-menu
                            .popup-content-input
                              ul.cities
                                li
                                  span(target='Hokkaido', names='Hokkaido', value='0') 0人
                                li
                                  span(target='Okinawa', names='Okinawa', value='1') 1人
                                li
                                  span(target='Tochigi', names='Tochigi', value='2') 2人
                                li
                                  span(target='Tokyo', names='Tokyo', value='3') 3人
                    section.room
                      .form-group
                        label.form-label(for='') 部屋
                        .input-custom
                          button 0
                          .popup-menu
                            .popup-content-input
                              ul.cities
                                li
                                  span(target='Hokkaido', names='Hokkaido') 0
                                li
                                  span(target='Okinawa', names='Okinawa') 1
                                li
                                  span(target='Tochigi', names='Tochigi') 2
                                li
                                  span(target='Tokyo', names='Tokyo') 3
                  .input-popup
                      .title 小学生の添い寝について
                      ul
                        li 大人1名様に対し、添い寝のお子様1名までとします。
                        li 小学生の添い寝希望のお客様がご朝食をご希望の場合、現地にて別途1,030円頂戴いたします。（未就学児は無料）
                        li 小学生の添い寝の場合、幼児欄の「食事・布団不要」に人数をご入力の上、予約画面下の備考欄にお子様の年齢をご記載ください。
                  .btn-group
                      button.clear クリア
                      button.done 完了
        .promo-code
          section
            .form-group
              label.form-label(for='') プロモコード
              .input-custom
                input.form-control(type='text', placeholder='プロモコード)')
        .find-button
          label.visible-desktop
            i.icon-info
            span 最低価格保証
          button(name='submit', type='submit', value='空室を検索') 空室を検索
          label.visible-device
            i.icon-info
            span 最低価格保証
      #booking-tab2.tabs-content(onclick='FE.global.bookingWidgetClick()')
        .number-of-people
          section
            .form-group
              label.form-label(for='') ご利用人数
              .dropdown-custom
                .input-custom
                  button 大阪(伊丹
                  .popup-menu
                    .popup-content-input
                      ul.cities
                        li
                          span(target='Hokkaido', names='Hokkaido') 1名
                        li
                          span(target='Okinawa', names='Okinawa') 2名
                        li
                          span(target='Tochigi', names='Tochigi') 3名
                        li
                          span(target='Tokyo', names='Tokyo') 4名
        .date-picker-tab2-single
          label チェックイン
          .date-picker-tab2-single-container
            .values
              .startDateContainer
                .startDate
                  .value.date_at
                    span.date_at
                    input#date_at.date_at(type='hidden')
            .time-selection
              section
                .form-group
                  .dropdown-custom
                    .input-custom
                      button 00:00
                      .popup-menu
                        .popup-content-input
                          ul.cities
                            li
                              span(target='Hokkaido', names='Hokkaido') 19:30
                            li
                              span(target='Okinawa', names='Okinawa') 20:00
                            li
                              span(target='Tochigi', names='Tochigi') 20:30
                            li
                              span(target='Tokyo', names='Tokyo') 21:00
            //.calendar-backdrop
            .calendar
              .button.button-prev
              .button.button-next
              .calendarContainer
        .shop
          section
            .form-group
              label.form-label(for='') お店
              .dropdown-custom
                .input-custom
                  button 大阪(伊丹・関西・神戸
                  .popup-menu
                    .popup-content-input
                      ul.cities
                        li
                          span(target='Hokkaido', names='Hokkaido') レストラン「ガーデニア」
                        li
                          span(target='Okinawa', names='Okinawa') チェックイン
                        li
                          span(target='Tochigi', names='Tochigi') チェックアウト
                        li
                          span(target='Tokyo', names='Tokyo') 大人2名
        .find-button
          label.visible-desktop
            i.icon-info
            span 最低価格保証
          button(name='submit', type='submit', value='空室を検索'  data-show-id='show-restaurant') 空室を検索
          label.visible-device
            i.icon-info
            span 最低価格保証
        #show-restaurant(data-basicLightbox data-id="show-restaurant" class=" row restaurant-detail")
          .errors
          form(id='bookingForm' name="bookingForm")
            label First Name
            .input-custom
              input.form-control(id='fname' name= "fname" type='text', placeholder='プロモコード)' required)
            label Last Name
            .input-custom
              input.form-control(id='lname' type='text', placeholder='プロモコード)' name='lname' required)
            label Mobile
            .input-custom
              input.form-control(id='mobile' type='number', placeholder='プロモコード)' name='mobile' required)
            label Deatils
            .input-custom
              input.form-control(id='details' type='text', placeholder='プロモコード)' name='details' required)
            .find-button
              button(name='button', type='button', value='空室を検索' class='bookingForm') 空室を検索
      #booking-tab3.tabs-content(onclick='FE.global.bookingWidgetClick()')
        .room-locations
          section
            .form-group
              label.form-label(for='') 出発空港
              .dropdown-custom
                .input-custom
                  button 大阪(伊丹・関西・神戸
                  .popup-menu
                    .popup-content-input
                      ul.cities
                        li
                          span(target='Hokkaido', names='Hokkaido') 出発空港
                        li
                          span(target='Okinawa', names='Okinawa') チェックイン
                        li
                          span(target='Tochigi', names='Tochigi') チェックアウト
                        li
                          span(target='Tokyo', names='Tokyo') 大人2名
        .date-picker-tab3
          label チェックイン
          .date-picker-tab3-container
            .values
              .startDateContainer
                //label チェックイン
                .startDate
                  .value.date_at
                    span.date_at
                    input#date_at.date_at(type='hidden')
              .to ~
              .endDateContainer
                //label チェックアウト
                .endDate
                  .value.date_to
                    span.date_to
                    input#date_to.date_to(type='hidden')
            //.calendar-backdrop
            .calendar
              //img.clear(src='/assets/narita/images/clear.svg' )
              .button.button-prev
              .button.button-next
              .calendarContainer
              .bottomLayer
                span.daysFromTo 2018年00月00日 金曜日 ~ 2018年00月00日 金曜日
                .nights 10 金曜日
                //.button.closePopup &#x5B8C;&#x4E86;
        .people
          label ご利用人数
          .people-list
            p 大人2名, 子供1名
              span １部屋
          .popup-wrap.popup-create
                //.overlay
                .big-popup.people-list-popup
                  .head-popup
                    section.grown-up
                      .form-group
                        label.form-label(for='') 大人
                        .dropdown-custom
                          .input-custom
                            button 0
                            .popup-menu
                              .popup-content-input
                                ul.cities
                                  li
                                    span(target='Hokkaido', names='Hokkaido') 0人
                                  li
                                    span(target='Okinawa', names='Okinawa') 1人
                                  li
                                    span(target='Tochigi', names='Tochigi') 2人
                                  li
                                    span(target='Tokyo', names='Tokyo') 3人
                    section.children
                      .form-group
                        label.form-label(for='') 子供
                        .dropdown-custom
                          .input-custom
                            button 0
                            .popup-menu
                              .popup-content-input
                                ul.cities
                                  li
                                    span(target='Hokkaido', names='Hokkaido', value='0') 0人
                                  li
                                    span(target='Okinawa', names='Okinawa', value='1') 1人
                                  li
                                    span(target='Tochigi', names='Tochigi', value='2') 2人
                                  li
                                    span(target='Tokyo', names='Tokyo', value='3') 3人
                    section.room
                      .form-group
                        label.form-label(for='') 部屋
                        .dropdown-custom
                          .input-custom
                            button 0
                            .popup-menu
                              .popup-content-input
                                ul.cities
                                  li
                                    span(target='Hokkaido', names='Hokkaido') 0
                                  li
                                    span(target='Okinawa', names='Okinawa') 1
                                  li
                                    span(target='Tochigi', names='Tochigi') 2
                                  li
                                    span(target='Tokyo', names='Tokyo') 3
                  .input-popup
                      .title 小学生の添い寝について
                      ul
                        li 大人1名様に対し、添い寝のお子様1名までとします。
                        li 小学生の添い寝希望のお客様がご朝食をご希望の場合、現地にて別途1,030円頂戴いたします。（未就学児は無料）
                        li 小学生の添い寝の場合、幼児欄の「食事・布団不要」に人数をご入力の上、予約画面下の備考欄にお子様の年齢をご記載ください。
                  .btn-group
                      button.clear クリア
                      button.done 完了
        .find-button
          label.visible-desktop
            i.icon-info
            span 最低価格保証
          button(name='submit', type='submit', value='空室を検索') 空室を検索
          label.visible-device
            i.icon-info
            span 最低価格保証
