section.facilities-info-header
    p あのイーハトーヴォのすきとおった風
    h2 レストラン＆カフェ
    p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
section.facilities-info-images
    .container
        .row
            .col.col-1-2
                img(src='/assets/narita/images/resturant/resturant-popup.png')
            .col.col-1-2
                img(src='/assets/narita/images/resturant/resturant-popup2.png')  
section.facilities-info-content
    p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
    .facilities-buttons 
        a.btn() 営業時間
            i.mys-arrow-left.white
        a.btn() 営業時間
            i.mys-arrow-left.white