section.location
    .section-title
        h2 OSAKA ON YOUR DOORSTEP
    .map-container
        #gmap_canvas(data-lat='35.784248' data-lan='140.351513' data-src='../assets/narita/images/marker-icon.png')
        .map-info-wrap
            h3 LOCATION
            ul
                li JR「成田」駅および成田空港からシャトルバスに揺られて15分。
                li 空港通り沿いに「ホテルマイステイズプレミア成田」は建ちます。
                li 駅や空港からはタクシーもご利用いただけます。
            .airpot-stop-info
                h6 乗り場番号
                ul
                    li JR 成田駅東口4番乗り場
                    li 成田空港第一ターミナル16番乗り場
                    li 成田空港第二ターミナル26番乗り場
        .btn.btn-map GOOGLE MAPで見る
            i.mys-arrow-left.white
