.home-slider-video
    .container    
      .section-title
        h2 ART HOTEL OSAKA BAY TOWER         
      
      .home-video-slider-nav
        a.video-thumbnail(href="#")
          img.lazy(src='/assets/narita/images/home/resturant.jpg' )
          p Restaurants
        a.video-thumbnail(href="#")
          img.lazy(src='/assets/narita/images/home/room.jpg')
          p Rooms
        a.video-thumbnail(href="#")
          img.lazy(src='/assets/narita/images/home/meeting.jpg' )
          p Banquets
        a.video-thumbnail(href="#")
          img.lazy(src='/assets/narita/images/home/spa.jpg' )
          p Onsen & Spa