.home-slider
  .container
    h4 HILIGHTS
      a(href="#").show-more.hidden-xs もっと見る
        i.icon-arw
    .home-slider-nav
      div
        picture
          source(media='(min-width: 768px)', srcset='/assets/narita/images/1.jpg')
          img(src='/assets/narita/images/mobile1.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        picture
          source(media='(min-width: 768px)', srcset='/assets/narita/images/1.jpg')
          img(src='/assets/narita/images/mobile1.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        picture
          source(media='(min-width: 768px)', srcset='/assets/narita/images/2.jpg')
          img(src='/assets/narita/images/mobile1.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        picture
          source(media='(min-width: 768px)', srcset='/assets/narita/images/3.jpg')
          img(src='/assets/narita/images/mobile1.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        picture
          source(media='(min-width: 768px)', srcset='/assets/narita/images/1.jpg')
          img(src='/assets/narita/images/mobile1.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        picture
          source(media='(min-width: 768px)', srcset='/assets/narita/images/2.jpg')
          img(src='/assets/narita/images/mobile1.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。    