.home-slider-video
    .container    
      .section-title
        h2 ART HOTEL OSAKA BAY TOWER         
      
      .home-video-slider-nav
        a.video-thumbnail(href="#")
          img(src='/assets/narita/images/video1.jpg' )
          p Restaurants
        a.video-thumbnail(href="#")
          img(src='/assets/narita/images/video2.jpg')
          p Rooms
        a.video-thumbnail(href="#")
          img(src='/assets/narita/images/video3.jpg' )
          p Banquets
        a.video-thumbnail(href="#")
          img(src='/assets/narita/images/video4.jpg' )
          p Onsen & Spa