section.concept    
    .large-container
        .section-title
            h2 ART CONCEPT
        .info フライト、商談、ビジネス研修会、家族旅行、女子会、ハネムーン。「ホテルマイステイズプレミア成田」はそんな人生という旅路に訪れる特別な１日を、鮮やかに彩る空間とスタッグのホスピタリティでもてなします。まるで宝石のように、お客様の求める体験に合わせて日常に輝くを送る施設です。
        
        .concept-box.left
            img(src='../assets/narita/images/home/concept.jpg', alt='')
            .concept-info
                h3 KAGAYAKI
                p 宝石のような記憶を
                .btn.btn-concept 
                    span もっと見る
                    i.mys-arrow-left.white
        .concept-box.right
            img(src='../assets/narita/images/home/stone.jpg', alt='')           
            .concept-info
                h3 KAGAYAKI 
                p 宝石のような記憶を
                .btn.btn-concept 
                    span もっと見る
                    i.mys-arrow-left.white


                