section.main-banner.home-banner
	picture.banner-image
		source(media='(min-width: 768px)', srcset='/assets/images/homebanner.jpg')
		img(src='/assets/images/homebanner-mobile.jpg')
	.banner-text
		h1 空港と寺社を臨む
		span RISE ABOVE THE BAY
	.photos-link.hidden-xs
		a.guestPhotos.scroll(href="#gallery-tabs")
			span.icon.sprite-insta_pc
			| Guest Photos
		a.hotelPhotos.scroll(href="#gallery-tabs")
			span.icon.sprite-hotelphoto_pc
			| Hotel Photos
	.calendar-link.visible-device
		a(href="#") 空室検索
			i.icon.sprite-calendar-interface-symbol-tool
