.home-review
    .container 
      .review-wrap
        h5 ゲストレビュー
        .review-score
          .review-score-wrap
            .thumbs-up
              span very good
                i.icon.sprite-like_pc
            .totel-score
              p TOTAL SCORE
              i 4.1
            .review-each-wrap
              .review-each
                p LOCATION
                span 立地
                i 4.1
              .review-each
                p LOCATION
                span 立地
                i 4.1
              .review-each
                p LOCATION
                span 立地
                i 4.1
              .review-each
                p LOCATION
                span 立地
                i 4.1
              .review-each
                p LOCATION
                span 立地
                i 4.1
              .review-each
                p LOCATION
                span 立地
                i 4.1
        .hotel-info
          | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、う夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる....
        .btn.btn-review もっと見る
          i.mys-arrow-left.white
