section.main-banner
	picture.banner-image
		source(media='(min-width: 768px)', srcset='/assets/images/homebanner.jpg')
		img(src='/assets/images/homebanner-mobile.jpg')
	.banner-text
		h1 空港と寺社を臨む
		span RISE ABOVE THE BAY
	.photos-link.hidden-xs
		a.guestPhotos(href="#tabs") 
			span.icon.sprite-insta_pc 
			| Guest Photos
		a.hotelPhotos(href="#tabs") 
			span.icon.sprite-hotelphoto_pc 
			| Hotel Photos
	.photos-link-mobile.visible-xs
		a.guestPhotos(href="#tabs") 
			span.icon.sprite-insta_sp 
		a.hotelPhotos(href="#tabs") 
			span.icon.sprite-hotel_photo_sp
