.inner-page-food-wrap
	picture.banner-image
		source(media='(min-width: 768px)', srcset='/assets/narita/images/venue-menu.jpg')
		img(src='/assets/narita/images/resturant/chef-mobile.jpg') 
	.inner-page-food-info
		.star
			span
		h4 ケータリングメニュー
		.inner-page-food あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
		a.see-more(href="#")
			span もっと見る 