.inner-page-slider.container 
    div.slick-slide
        img(src='/assets/narita/images/venue-slider/venue-slider1.jpg')
    div.slick-slide
        img(src='/assets/narita/images/venue-slider/venue-slider2.jpg')
    div.slick-slide
        img(src='/assets/narita/images/venue-slider/venue-slider3.jpg')
    div.slick-slide
        img(src='/assets/narita/images/venue-slider/venue-slider1.jpg')
    div.slick-slide
        img(src='/assets/narita/images/venue-slider/venue-slider2.jpg')
    div.slick-slide
        img(src='/assets/narita/images/venue-slider/venue-slider3.jpg')