section.content-image
    source(media='(min-width: 356px)', srcset='/assets/narita/images/pool-info1.jpg')
    img(src='/assets/narita/images/pool-info1.jpg')
    .row
      p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった
section.offer-info-content
  .container
    h2  サービス詳細
    ul
        li あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
        li あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
        li あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
        li あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
        li あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
        li あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
        li あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
    ul.offer-second-list
        li あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
        li あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
        li あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
    p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
        


