.resturant-name.visible-device レストラン「ガーデニア」
section.resturant-details-tabs
    .container
        .tabs#resturant-tabs
            .menu-gradient
            .tabs-wrap                
                ul.tabs-header.open-tabs#tabs-header
                    li
                        a.tabs-title(href='#') DINNER
                    li
                        a.tabs-title(href='#') THE BAR
                    li
                        a.tabs-title(href='#') TOP WINE LIST
                    li
                        a.tabs-title(href='#') LUNCH
                    li
                        a.tabs-title(href='#') Dessert
                    li
                        a.tabs-title(href='#') Blunch Cocktails
                    li
                        a.tabs-title(href='#') Happy Hour                
            .tabs-content
                .menu-images
                    .row
                        .col-1-2
                            img(src='/assets/narita/images/resturant/resturant-popup.png')
                        .col-1-2
                            img(src='/assets/narita/images/resturant/resturant-popup2.png')  
                .menu-details
                    h2.menu-title DINNER
                    h3.sub-menu-title ドリンクメニュー  
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000  
                    h3.sub-menu-title スナック  
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000   
                    h3.sub-menu-title プレート 
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000                
                    h3.sub-menu-title その他
                    .other-items
                        ul
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                    .warning-messages-list
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。 
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。
            .tabs-content
                .menu-images
                    .row
                        .col-1-2
                            img(src='/assets/narita/images/resturant/resturant-popup.png')
                        .col-1-2
                            img(src='/assets/narita/images/resturant/resturant-popup2.png')  
                .menu-details
                    h2.menu-title DINNER
                    h3.sub-menu-title ドリンクメニュー  
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000  
                    h3.sub-menu-title スナック  
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000   
                    h3.sub-menu-title プレート 
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000                
                    h3.sub-menu-title その他
                    .other-items
                        ul
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                    .warning-messages-list
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。 
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。
            .tabs-content
                .menu-images
                    .row
                        .col-1-2
                            img(src='/assets/narita/images/resturant/resturant-popup.png')
                        .col-1-2
                            img(src='/assets/narita/images/resturant/resturant-popup2.png') 
                .menu-details
                    h2.menu-title DINNER
                    h3.sub-menu-title ドリンクメニュー  
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000  
                    h3.sub-menu-title スナック  
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000   
                    h3.sub-menu-title プレート 
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000                
                    h3.sub-menu-title その他
                    .other-items
                        ul
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                    .warning-messages-list
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。 
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。
            .tabs-content
                .menu-images
                    .row
                        .col-1-2
                            img(src='/assets/narita/images/resturant/resturant-popup.png')
                        .col-1-2
                            img(src='/assets/narita/images/resturant/resturant-popup2.png') 
                .menu-details
                    h2.menu-title DINNER
                    h3.sub-menu-title ドリンクメニュー  
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000  
                    h3.sub-menu-title スナック  
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000   
                    h3.sub-menu-title プレート 
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000                
                    h3.sub-menu-title その他
                    .other-items
                        ul
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                    .warning-messages-list
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。 
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。
            .tabs-content
                .menu-images
                    .row
                        .col-1-2
                            img(src='/assets/narita/images/resturant/resturant-popup.png')
                        .col-1-2
                            img(src='/assets/narita/images/resturant/resturant-popup2.png') 
                .menu-details
                    h2.menu-title DINNER
                    h3.sub-menu-title ドリンクメニュー  
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000  
                    h3.sub-menu-title スナック  
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000   
                    h3.sub-menu-title プレート 
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000                
                    h3.sub-menu-title その他
                    .other-items
                        ul
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                    .warning-messages-list
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。 
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。
            .tabs-content
                .menu-images
                    .row
                        .col-1-2
                            img(src='/assets/narita/images/resturant/resturant-popup.png')
                        .col-1-2
                            img(src='/assets/narita/images/resturant/resturant-popup2.png')
                .menu-details
                    h2.menu-title DINNER
                    h3.sub-menu-title ドリンクメニュー  
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000  
                    h3.sub-menu-title スナック  
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000   
                    h3.sub-menu-title プレート 
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000                
                    h3.sub-menu-title その他
                    .other-items
                        ul
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                    .warning-messages-list
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。 
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。
            .tabs-content
                .menu-images
                    .row
                        .col-1-2
                            img(src='/assets/narita/images/resturant/resturant-popup.png')
                        .col-1-2
                            img(src='/assets/narita/images/resturant/resturant-popup2.png') 
                .menu-details
                    h2.menu-title DINNER
                    h3.sub-menu-title ドリンクメニュー  
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000  
                    h3.sub-menu-title スナック  
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000   
                    h3.sub-menu-title プレート 
                    .menu-items
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                        .menu
                            ul
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000 
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000
                                li 
                                    p.menu-item-name メニュー名メニュー名メニュー名
                                        span 素材素材素材素材素材
                                    p.menu-price ¥1,000                
                    h3.sub-menu-title その他
                    .other-items
                        ul
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                            li
                                p.other-item-name メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名メニュー名
                                    span 素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材素材
                    .warning-messages-list
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。 
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。
                        .warning-message
                            p お出しする料理には生の食材や卵を作った料理が含まれています。アレルギーをお持ちの方は事前にスタッフにお問い合わせください。
                        