#rfp-form(data-basicLightbox data-id="rfp-form" class=" row rfp-form-details")
  .errors
  a.closeBtn(href="#")
    i.icon.sprite-close_black_sp
  form(id='rpfForm' name="rpfForm")
    h5 宴会＆会議に関するお問合せ
    p 下記の項目にご記入いただき、改めてご連絡をさせていただきます。
    section.firstname
      label 姓
      .input-showtext
        input.form-control(id='fname' name= "fname" type='text', placeholder='' required)
    section.lastname
      label 名
      .input-showtext
        input.form-control(id='lname' type='text', placeholder='' name='lname' required)
    section.companyname
      label 法人名・団体名
      .input-showtext
        input.form-control(id='company' type='text', placeholder='' name='company' required)
    section.companyname
      label メールアドレス
      .input-showtext
        input.form-control(id='company' type='text', placeholder='' name='company' required)
    section.companyname
      label ご連絡先のお電話番号
      .input-showtext
        input.form-control(id='company' type='text', placeholder='' name='company' required)
    h5.meeting イベント情報
    section.event
      label イベント名
      .input-showtext
        input.form-control(id='meeting' type='text', placeholder='' name='meeting' required)
    section.attendees
      label ご利用人数
      .input-showtext
        input.form-control(id='attendees' type='number', placeholder='' name='mobile' required)
    #venue-booking-tab
      .date-picker-venue-rpf
        .date-picker-tab1-container
          .values
            .startDateContainer
              label 開始日
              .startDate
                .value.date_at
                  span.date_at
                  input#date_at.date_at(type='hidden')
            //.to ~
            .endDateContainer
              label 終了日
              .endDate
                .value.date_to
                  span.date_to
                  input#date_to.date_to(type='hidden')
          //.calendar-backdrop
          .calendar
            //img.clear(src='/assets/narita/images/clear.svg' )
            .button.button-prev
            .button.button-next
            .calendarContainer
            .bottomLayer
              span.daysFromTo 2018年00月00日 金曜日 ~ 2018年00月00日 金曜日
              .nights 10 金曜日
              //.button.closePopup &#x5B8C;&#x4E86;
      section.guestrooms
        .form-group
          label 客室数
          .input-showtext
            button(name='button', type='button', value='空室を検索') Rooms
            .popup-menu
              .popup-content-input
                ul.cities
                  li
                    span(target='Hokkaido', names='Hokkaido') 1
                  li
                    span(target='Okinawa', names='Okinawa') 2
                  li
                    span(target='Tochigi', names='Tochigi') 3
                  li
                    span(target='Tokyo', names='Tokyo') 4
      section.duration
        .form-group
          label ご利用時間
          .input-showtext
            button(name='button', type='button', value='空室を検索') Duration
            .popup-menu
              .popup-content-input
                ul.cities
                  li
                    span(target='Hokkaido', names='Hokkaido') All Day
                  li
                    span(target='Okinawa', names='Okinawa') Item name item

    section.typeofevent
      .form-group
        label 目的
        .input-showtext
          button(name='button', type='button', value='') 選択してください
          .popup-menu
            .popup-content-input
              ul.cities
                li
                  span(target='Hokkaido', names='Hokkaido') Party
                li
                  span(target='Okinawa', names='Okinawa') Meeting
                li
                  span(target='Tochigi', names='Tochigi') Conference
                li
                  span(target='Tokyo', names='Tokyo') Others
    //section.onedayevent
      .form-group
        label 1Day Event
    section
      .form-group.food-beverage
        .form-checkbox
          label.form-label パーティ料理、お弁当をお届けするケータリング。お飲物やサービスに至までお客様のご要望に応じてお手伝いさせていただきます。
          .checkbox-style
            label.checkbox
              input.form-control(type='checkbox' id='food' name="food" value="breakfast" required)
              span
                i.icon.sprite-checked_sp
              |	朝食　　　　
          .checkbox-style
            label.checkbox
              input.form-control(type='checkbox' name="food" value="Lunch")
              span
                i.icon.sprite-checked_sp
              |	ランチ　　　　
          .checkbox-style
            label.checkbox
              input.form-control(type='checkbox' name="food" value="Dinner")
              span
                i.icon.sprite-checked_sp
              |	夕食　　　　
          .checkbox-style
            label.checkbox
              input.form-control(type='checkbox' name="food" value="Reception")
              span
                i.icon.sprite-checked_sp
              |	受付　　　　
          .checkbox-style
            label.checkbox
              input.form-control(type='checkbox' name="food" value="Others")
              span
                i.icon.sprite-checked_sp
              |	その他
    section.attachFile
      label.fileLabel ファイルを添付する
      input.form-control(type='file')
    label 会場の設備の要望をご記入ください。
    .input-showtext.details
      textarea.form-control.textarea(type='text',  placeholder='', cols='40', rows='8', name='mobile')
    .find-button
      button(name='button', type='button', value='' class='submitRfpForm') 送信する
    p.footer 会議・宴会に関するお問い合わせ・資料請求 ご返答は速やかにおこなうよう心掛けておりますが、 内容や状況によりお時間がかかる場合もございます。 お急ぎの場合は、大変お手数ではございますがお電話にてご連絡ください。
    p.footer
      span 本お問合せフォームの送信後、当社の利用規約および
      span 個人情報保護ポリシーに関する声明に同意したことになります。
