section.content-image
    source(media='(min-width: 356px)', srcset='/assets/narita/images/pool-info1.jpg')
    img(src='/assets/narita/images/pool-info1.jpg')
    .row
      p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった
section.pool-info-content
  .container
    h2  サービス詳細
    ul
      li
        h3 営業期間
        p.header-content リード文リード文リード文リード文
        p.content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった
        h4 ご利用料金
        .container
          .content-left
            p 70分コース
            p.header-content 15,600円
          .content-right
            p 100分コース
            p.header-content 15,600円
      li
        h3 営業期間
        p.header-content リード文リード文リード文リード文
        p.content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった
        h4 ご利用料金
        .content
          .content-left
            p 70分コース
            p.header-content 15,600円
          .content-right
            p 100分コース
            p.header-content 15,600円
      li
        h3 営業期間
        p.header-content リード文リード文リード文リード文
        p.content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった
        h4 ご利用料金
        .content
          .content-left
            p 70分コース
            p.header-content 15,600円
          .content-right
            p 100分コース
            p.header-content 15,600円
      li
        h3 営業期間
        p.header-content リード文リード文リード文リード文
        p.content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった
        h4 ご利用料金
        .content
          .content-left
            p 70分コース
            p.header-content 15,600円
          .content-right
            p 100分コース
            p.header-content 15,600円
    .bottom-header
      h4  プライバシーポリシー
      p 相談やお着替えは30分ほどいただきます。オイルトリートメントは2018年2月28日時点のもので2018年3月1日に一部変更をしております。

section.promo-content
  .container
    h3 その他のサービス
    ul
      li
        source(media='(min-width: 356px)', srcset='/assets/narita/images/promo1.jpg')
        img(src='/assets/narita/images/promo1.jpg')
        .promo-text 温泉
        .content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった
        .see-more
          span もっと見る
      li
        source(media='(min-width: 356px)', srcset='/assets/narita/images/promo2.jpg')
        img(src='/assets/narita/images/promo2.jpg')
        .promo-text プール
        .content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった
        .see-more
          span もっと見る
      li
        source(media='(min-width: 356px)', srcset='/assets/narita/images/promo3.jpg')
        img(src='/assets/narita/images/promo3.jpg')
        .promo-text フィットネス
        .content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった
        .see-more
          span もっと見る
