section.attractions-page-booking.subscribe
  h2
    span 今すぐメールニュース登録で10%Off!
  .booking-widget.subscribe
    #booking-tab2.tabs-content
      label.thankyou Thank you for subscription!
      form(id='subscribeForm' name="subscribeForm")
        label マイステイズメールニュースの配信停止はいつでもご自由に変更できます
        .promo-code.name
          section
            .form-group
              .input-showtext
                input.form-control(id='fname' name= "fname" type='text', placeholder='First Name' required)
        .promo-code.email
          section
            .form-group
              .input-showtext
                input.form-control(id='email' type='email', placeholder='Email Address' name='email' required)
        .find-button
          button(name='button', type='button', value='空室を検索' class='submitSubscribeForm') Submit
        span
          label マイステイズメールニュースの配信停止はいつでもご自由に変更できます
