.room-info-container.venue-info
    h2 スーペリアツインハイフロア
    .room-quick-info.venue-quick オークルーム
    .venue-floor MAIN FLOOR 4F
    .room-info-slider-container
        .room-info-slider
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
        .venue-slider-count
            span.number 1 
            | / 12
section.about-venue-info
    h3 TOGETHER IN  STYLE
    p のイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら 
.room-info-container.venue-info-container
    .room-overview.venue-overview
        h5 会場概要
        .venue-facilities
            ul
                li 立食時の人数目安 
                    span 〜1200人
                li 着席時の人数目安
                    span 〜600人
            ul
                li 階
                    span B1F
                li 面積
                    span 432㎡
                li 面天井高積
                    span 4m
            .btn.btn-download 
                span フロアマップのPDFを ダウンロード
                i.mys-arrow-left.white
        .venue-layout
            h4 レイアウト図
            a#tablink(href='') open
            .tabs#layout-tabs
                ul.tabs-header#tabs-header
                    li
                        a.tabs-title(href='#') シアター型
                    li
                        a.tabs-title(href='#') スクール型
                    li
                        a.tabs-title(href='#') ロの字型
                    li
                        a.tabs-title(href='#') コの字型
                    li
                        a.tabs-title(href='#') 島型
                .tabs-content
                    img(src='/assets/narita/images/layout.jpg')
                    span.max-text MAX288名
                .tabs-content
                    img(src='/assets/narita/images/layout.jpg')
                .tabs-content
                    img(src='/assets/narita/images/layout.jpg')
                .tabs-content
                    img(src='/assets/narita/images/layout.jpg')
                .tabs-content
                    img(src='/assets/narita/images/layout.jpg')
        .meeting-details
            table
                thead
                    tr
                        th(colspan='5') 会議形式の場合
                        th(colspan='3') 宴会形式の場合                      
                tbody
                    tr
                        td シアター
                        td スクール
                        td 口の字
                        td コの字
                        td 島
                        td 立食
                        td 着席（正餐）
                        td 着席（ビュッフェ）
                    tr
                        td 480
                        td 288
                        td 108
                        td 84
                        td 144 （6x24）
                        td 350
                        td 280
                        td 200
        .price-details
            table
                thead
                    tr
                        th(colspan='5') 料金                     
                tbody
                    tr
                        td 2時間
                        td 終日
                        td 延長（1時間）
                        td 宴会 2時間
                        td 展示会 終日
                    tr
                        td ￥130,000
                        td ￥650,000
                        td ￥650,000
                        td ￥45,000
                        td ￥780,000
        .venue-links
            .links
                a(href="#") FAQ
                a(href="#") アメニティー・サービスリスト
            .note
                p ※料金表示は税別価格　※ご利用時間：8:00～22:00
.room-info-container
    .room-overview.benefits-overview
        h4 特典
        .benefits-details
            .meeting-benefits
                h6 ミーティング特典
                ul
                    li プライベートワインレセプション(１時間)
                    li 施設費用割引
                    li 無料ミーティングレンタル
                    li 係員付き駐車サービス
                    li コーヒーサー
            .planner-benefits
                h6 プランナー特典
                ul
                    li AMEXプレスギフトカード(25000円分)
                    li iPad mini レンタル
                    li 無料ミーティングレンタル
                    li ルリ鉄板焼きでの
            p 2018年3月までにご利用されたグループに有効です。
section.venues-list-wrap.venues-popup
    .container
        h4 関連する会場
        ul.venue-list
            li.show(data-rooms="all small")
                img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                .venue-short-info
                    h6 オークルーム
                    h5 スーペリアツインハイフロア
                    .floor MAIN FLOOR 4F
                    ul
                        li
                            span 面積
                            .size 805㎡
                        li
                            span 天井の高さ
                            .size 3m
                        li
                            span 面積
                            .size 
                                | 立食時  〜1200人 
                                br
                                | 着席時  〜600人
                    a.see-more(href="#" data-show-rooms="room-full-info")
                        span もっと見る
            li.show(data-rooms="all small")
                img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                .venue-short-info
                    h6 オークルーム
                    h5 スーペリアツインハイフロア
                    .floor MAIN FLOOR 4F
                    ul
                        li
                            span 面積
                            .size 805㎡
                        li
                            span 天井の高さ
                            .size 3m
                        li
                            span 面積
                            .size 
                                | 立食時  〜1200人 
                                br
                                | 着席時  〜600人
                    a.see-more(href="#" data-show-rooms="room-full-info")
                        span もっと見る
            li.show(data-rooms="all small")
                img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                .venue-short-info
                    h6 オークルーム
                    h5 スーペリアツインハイフロア
                    .floor MAIN FLOOR 4F
                    ul
                        li
                            span 面積
                            .size 805㎡
                        li
                            span 天井の高さ
                            .size 3m
                        li
                            span 面積
                            .size 
                                | 立食時  〜1200人 
                                br
                                | 着席時  〜600人
                    a.see-more(href="#" data-show-rooms="room-full-info")
                        span もっと見る
					
