.room-info-container.venue-info
    h2 スーペリアツインハイフロア
    .room-quick-info.venue-quick オークルーム
    .venue-floor MAIN FLOOR 4F
    .room-info-slider-container
        .room-info-slider
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
            div.slick-slide
                img(src='/assets/narita/images/room-slider1.jpg')
        .venue-slider-count
            span.number 1
            | / 12
section.about-venue-info
    h3 TOGETHER IN  STYLE
    p のイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
.room-info-container.venue-info-container
    .room-overview.venue-overview
        h5 会場概要
        .venue-facilities
            ul
                li 立食時の人数目安
                    span 〜1200人
                li 着席時の人数目安
                    span 〜600人
            ul
                li 階
                    span B1F
                li 面積
                    span 432㎡
                li 面天井高積
                    span 4m
            .btn.btn-download
                span フロアマップのPDFを ダウンロード
                i.mys-arrow-left.white
        .venue-layout
            h4 レイアウト図
            .tabs#layout-tabs
                ul.tabs-header.open-tabs#tabs-header
                    li
                        a.tabs-title(href='#') シアター型
                    li
                        a.tabs-title(href='#') スクール型
                    li
                        a.tabs-title(href='#') ロの字型
                    li
                        a.tabs-title(href='#') コの字型
                    li
                        a.tabs-title(href='#') 島型
                .tabs-content
                    img(src='/assets/narita/images/layout.jpg')
                    span.max-text MAX288名
                .tabs-content
                    img(src='/assets/narita/images/layout.jpg')
                .tabs-content
                    img(src='/assets/narita/images/layout.jpg')
                .tabs-content
                    img(src='/assets/narita/images/layout.jpg')
                .tabs-content
                    img(src='/assets/narita/images/layout.jpg')

        .meeting-details
            .meeting-details-container
              .column-one
                h6 会議形式の場合
                div
                  span シアター
                  span 480
                div
                  span スクール
                  span 288
                div
                  span 口の字
                  span 108
                div
                  span 口の字
                  span 84
                div
                  span 島
                  span 144 （6x24）
              .column-two
                h6 宴会形式の場合
                div
                  span 立食
                  span 350
                div
                  span 着席
                  span 280
                div
                  span 着席
                  span 200

        .price-details
          .price-details-container
            .column-one
              h6 料金
              div
                span 2時間
                span ￥130,000
              div
                span 終日
                span ￥650,000
              div
                span 延長（1時間）
                span ￥650,000
              div
                span 宴会 2時間
                span ￥45,000
              div
                span 展示会 終日
                span ￥780,000

        .venue-links
            .links
                a(href="#") FAQ
                a(href="#") アメニティー・サービスリスト
            .note
                p ※料金表示は税別価格　※ご利用時間：8:00～22:00
.room-info-container
    .room-overview.benefits-overview
        h4 特典
        .benefits-details
            .meeting-benefits
                h6 ミーティング特典
                ul
                    li プライベートワインレセプション(１時間)
                    li 施設費用割引
                    li 無料ミーティングレンタル
                    li 係員付き駐車サービス
                    li コーヒーサー
            .planner-benefits
                h6 プランナー特典
                ul
                    li AMEXプレスギフトカード(25000円分)
                    li iPad mini レンタル
                    li 無料ミーティングレンタル
                    li ルリ鉄板焼きでの
            p 2018年3月までにご利用されたグループに有効です。
section.venues-list-wrap.venues-popup
    .container
        h4 関連する会場
        ul.venue-list
            li.show(data-rooms="all small")
                img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                .venue-short-info
                    h6 オークルーム
                    h5 スーペリアツインハイフロア
                    .floor MAIN FLOOR 4F
                    ul
                        li
                            span 面積
                            .size 805㎡
                        li
                            span 天井の高さ
                            .size 3m
                        li
                            span 面積
                            .size
                                | 立食時  〜1200人
                                br
                                | 着席時  〜600人
                    a.see-more(href="#" data-show-rooms="room-full-info")
                        span もっと見る
            li.show(data-rooms="all small")
                img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                .venue-short-info
                    h6 オークルーム
                    h5 スーペリアツインハイフロア
                    .floor MAIN FLOOR 4F
                    ul
                        li
                            span 面積
                            .size 805㎡
                        li
                            span 天井の高さ
                            .size 3m
                        li
                            span 面積
                            .size
                                | 立食時  〜1200人
                                br
                                | 着席時  〜600人
                    a.see-more(href="#" data-show-rooms="room-full-info")
                        span もっと見る
            li.show(data-rooms="all small")
                img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                .venue-short-info
                    h6 オークルーム
                    h5 スーペリアツインハイフロア
                    .floor MAIN FLOOR 4F
                    ul
                        li
                            span 面積
                            .size 805㎡
                        li
                            span 天井の高さ
                            .size 3m
                        li
                            span 面積
                            .size
                                | 立食時  〜1200人
                                br
                                | 着席時  〜600人
                    a.see-more(href="#" data-show-rooms="room-full-info")
                        span もっと見る
