.tabs-header {
  display: none;
  @include sm {
    display: table;
    margin: 0 auto 40px;
  }
  &.open-tabs {
    @extend %clearfix;
    display: block;
    li {
      display: inline-block;
      padding: 0 14px;
      margin-bottom: 10px;
      @include sm {
        padding: 0 20px;
        margin-bottom: 0;
      }
      a {
        &.tabs-title-active {
          color: $default-color;
          &:after {
            content: "";
            width: 100%;
            height: 2px;
            display: block;
            background-color: #232e48;
            margin-top: 3px;
          }
          &:before {
            content: '';
            width: 0; 
            height: 0; 
            position: absolute;
            bottom: -6px;
            left: 50%;
            margin-left: -4px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;          
            border-top: 6px solid $default-color;
          }
        }    
      }
    }
  }
  li {    
    @include sm {
      float: left;
      padding: 0 20px;
    }
    a {
      @include font-size(14px);
      font-family: $go-bold;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 1.4px;
      text-align: center;
      color: #888888;
      display: block;
      position: relative;
      margin: 8px 0;
      @include sm {
        text-align: left;
        margin: 0;
      }
      &.tabs-title-active {
        color: $default-color;
        &:after {
          @include sm {
            content: "";
            width: 100%;
            height: 2px;
            display: block;
            background-color: #232e48;
            margin-top: 3px;
          }
        }
        &:before {
          @include sm {
            content: '';
            width: 0; 
            height: 0; 
            position: absolute;
            bottom: -6px;
            left: 50%;
            margin-left: -4px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;          
            border-top: 6px solid $default-color;
          }
        }
      }      
    }
  }
}
