extends layouts/default

block append content

	.container
		p testing
		p testing 
		h1(style={
		'line-height': '2em',
		'margin':'0 0 50px',
		'padding':'20px 0 0'
		}) Index
		ul
			li
				a(href="pages/homepage.html") 01. Home page
			li
				a(href="pages/demo.html") 02. Demo page
			li
				a(href="pages/rooms.html") 03. Rooms Page
			li
				a(href="pages/single-room.html") 03. Popup Room page
			li
				a(href="pages/venue.html") 03. Venue page
