extends layouts/default

block append content

	.container
		p testing
		p testing
		h1(style={
		'line-height': '2em',
		'margin':'0 0 50px',
		'padding':'20px 0 0'
		}) Index
		ul
			li
				a(href="pages/homepage.html") 01. Home page
			li
				a(href="pages/demo.html") 02. Demo page
			li
				a(href="pages/rooms.html") 03. Rooms Page
			li
				a(href="pages/single-room.html") 04. Popup Room page
			li
				a(href="pages/venue.html") 05. Venue page
			li
				a(href="pages/resturant.html") 06. Resturant page
			li
				a(href="pages/resturant-detail.html") 07. Resturant Detail page
			li
				a(href="pages/attractions.html") 08. Attractions page
			li
				a(href="pages/news.html") 09. News page
			li
				a(href="pages/news-detail.html") 09. News Detail page
			li
				a(href="pages/account.html") 10. Profile page
			li
				a(href="pages/pool.html") 11. Pool page
			li
				a(href="pages/bestprice.html") 12. Best Price page
			li
				a(href="pages/facilities.html") 13. Facilities page
			li
				a(href="pages/spa.html") 14. Spa page
			li
				a(href="pages/gallery.html") 14. Gallery page
			li
				a(href="pages/offer.html") 14. Offer page
			li
				a(href="pages/access.html") 14. Access page 
			li
				a(href="pages/highlights.html") 15. highlights page 
			li
				a(href="pages/highlights-detail.html") 16. highlights Details page
			li
				a(href="pages/user-gallery.html") 16. User Gallery demo