extends ../layouts/default

block append content
	.access-page
		section.main-banner
			picture.banner-image
				source(media='(min-width: 768px)', srcset='/assets/narita/images/access/banner.jpg')
				img(src='/assets/narita/images/access/banner.jpg')
			.banner-text
				h1 アクセス
		.about-venue-info-wrap
			section.about-venue-info 
				h3 TOGETHER IN  STYLE
				p のイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら		
		section.location
			.section-title
				h2 所在地
			.map-container
				#gmap_canvas(data-lat='12.9316' data-lan='77.7946' data-src='../assets/narita/images/marker-icon.png')
				.map-info-wrap
					h3 HOW TO FIND US
					ul
						li JR「成田」駅および成田空港からシャトルバスに揺られて15分。
						li 空港通り沿いに「ホテルマイステイズプレミア成田」は建ちます。
						li 駅や空港からはタクシーもご利用いただけます。
					.airpot-stop-info
						h6 乗り場番号
						ul
							li JR 成田駅東口4番乗り場
							li 成田空港第一ターミナル16番乗り場
							li 成田空港第二ターミナル26番乗り場
				.btn.btn-map GOOGLE MAPで見る
					i.mys-arrow-left.white
		include ../components/breadcrumb.pug
