extends ../layouts/default

block append content
	.attractions-main-page
		section.main-banner
			picture.banner-image
				source(media='(min-width: 768px)', srcset='/assets/narita/images/resturant/resturant-banner.jpg')
				img(src='/assets/narita/images/resturant/resturant-banner-mobile.jpg')
			.banner-text
				h1 レストラン
		section.about-attractions-info
			h3 大空の飛行機を眺め、豊潤な食事を
			p 翔び立つ飛行機、空港のまばゆい夜景 - 刻々と変化する雄大な長めが寄り添い、3つの飲食店と1つのバーで食事を味わう豊潤な一時を。
		section.attractions-list
			.container
				ul
					li(class='list1' data-lat='12.9816' data-long='77.7956' data-src = '../assets/narita/images/map.png' data-num = "1")
						picture
							source(media='(min-width: 768px)', srcset='/assets/narita/images/attractions/1.jpg')
							img(src='/assets/narita/images/resturant/resturant1-mobile.jpg')
						.resturant-list-info.attraction-list-info
							.number 01
							h2 レストラン「ガーデニア」
							p 春には埋め、空きにはもみじが色づき、四季折々の顔を見せる日本庭園に心を洗われながら、和洋中そろうブッフェに色彩豊かな味わいと遊ぶ、高雅な食の体験を。
							.business-hours
								h6 営業時間
								p
									span 朝食
									| 7:00 ~ 9:30
								p
									span 朝食
									| 7:00 ~ 9:30
								p
									span 朝食
									| 7:00 ~ 9:30
							.contact
								h6 お問い合わせ
								p 000-0000-0000
							.see-more
								span もっと見る
							.map-locator
								img(src='/assets/narita/images/dummy-slider1.jpg')
								.title Kenrokuen Garden
								p Ishikawa
								button More

					li(class='list2' data-lat='12.9616' data-long='77.7966' data-src = '../assets/narita/images/map.png' data-num = "2")
						picture
							source(media='(min-width: 768px)', srcset='/assets/narita/images/attractions/2.jpg')
							img(src='/assets/narita/images/resturant/resturant2-mobile.jpg')
						.resturant-list-info.attraction-list-info
							.number 02
							h2 レストラン「ガーデニア」
							p 春には埋め、空きにはもみじが色づき、四季折々の顔を見せる日本庭園に心を洗われながら、和洋中そろうブッフェに色彩豊かな味わいと遊ぶ、高雅な食の体験を。
							.business-hours
								h6 営業時間
								p
									span 朝食
									| 7:00 ~ 9:30
								p
									span 朝食
									| 7:00 ~ 9:30
								p
									span 朝食
									| 7:00 ~ 9:30
							.contact
								h6 お問い合わせ
								p 000-0000-0000
							.see-more
								span もっと見る
							.map-locator
								img(src='/assets/narita/images/dummy-slider1.jpg')
								.title Kenrokuen Garden
								p Ishikawa
								button More

					li(class='list3' data-lat='12.9116' data-long='77.7976' data-src = '../assets/narita/images/map.png' data-num = "3")
						picture
							source(media='(min-width: 768px)', srcset='/assets/narita/images/attractions/1.jpg')
							img(src='/assets/narita/images/resturant/resturant3-mobile.jpg')
						.resturant-list-info.attraction-list-info
							.number 03
							h2 レストラン「ガーデニア」
							p 春には埋め、空きにはもみじが色づき、四季折々の顔を見せる日本庭園に心を洗われながら、和洋中そろうブッフェに色彩豊かな味わいと遊ぶ、高雅な食の体験を。
							.business-hours
								h6 営業時間
								p
									span 朝食
									| 7:00 ~ 9:30
								p
									span 朝食
									| 7:00 ~ 9:30
								p
									span 朝食
									| 7:00 ~ 9:30
							.contact
								h6 お問い合わせ
								p 000-0000-0000
							.see-more
								span もっと見る
							.map-locator
								img(src='/assets/narita/images/dummy-slider1.jpg')
								.title Kenrokuen Garden
								p Ishikawa
								button More


					li(class='list4' data-lat='12.9213' data-long='77.7946' data-src = '../assets/narita/images/map.png' data-num = "4")
						picture
							source(media='(min-width: 768px)', srcset='/assets/narita/images/attractions/2.jpg')
							img(src='/assets/narita/images/resturant/resturant4-mobile.jpg')
						.resturant-list-info.attraction-list-info
							.number 04
							h2 レストラン「ガーデニア」
							p 春には埋め、空きにはもみじが色づき、四季折々の顔を見せる日本庭園に心を洗われながら、和洋中そろうブッフェに色彩豊かな味わいと遊ぶ、高雅な食の体験を。
							.business-hours
								h6 営業時間
								p
									span 朝食
									| 7:00 ~ 9:30
								p
									span 朝食
									| 7:00 ~ 9:30
								p
									span 朝食
									| 7:00 ~ 9:30
							.contact
								h6 お問い合わせ
								p 000-0000-0000
							.see-more
								span もっと見る
							.map-locator
								img(src='/assets/narita/images/dummy-slider1.jpg')
								.title Kenrokuen Garden
								p Ishikawa
								button More

		section.location
			h6
				span 今すぐメールニュース登録で10%Off!
			.map-container
				#gmap_canvas(data-lat='12.9316' data-lan='77.7946' data-src='../assets/narita/images/marker-icon.png')
				.btn.btn-map GOOGLE MAPで見る
					i.mys-arrow-left.white
		include ../components/subscribe.pug
		include ../components/breadcrumb.pug
