extends ../layouts/default

block append content
    .best-price-main-page
        section.bestprice-banner-wrap
            h3 最低価格保証
            .bestprice-banner(style="background: url('/assets/narita/images/bestprice/banner.png')")
                .container
                    h4 マイステイズ公式サイトなら、「最低価格」を保証いたします。
                    p 「最低価格保証」違反があった場合、 ご予約後、３時間以内に、お客様がご予約されたご宿泊と同一条件の宿泊が、他インターネット予約サイトで公式サイトより安い料金で紹介されていた場合、24時以内にご連絡ください。事実確認ができた場合、ご連絡いただいた料金から 10%割引させていただきます。
        section.accordion-wrap
            h3 3つの簡単なステップで申請してください：
            ul
                li.accordion-item
                    .container
                        h4.accordion-title
                            span.number 01
                            span.text 申請の際に必要なもの
                            span.right-text 詳しく見る
                                i
                        .accordion-content
                            p マイステイズ・ホテル・マネジメント公式サイトで提供するご宿泊料金は、他のどのウェブサイトで予約するよりも、確実に最も安い「最低価格」であることを保証いたします。
                            h4 「最低価格保証」違反があった場合、
                            p ご予約後、３時間以内に、お客様がご予約されたご宿泊と同一条件の宿泊が、他インターネット予約サイトで公式サイトより安い料金で紹介されていた場合、24時以内にご連絡ください。事実確認ができた場合、ご連絡いただいた料金から10%割引させていただきます。
                            h4 違反料金のご連絡方法
                            p 公式サイトでご予約後、24時間以内に、こちらをクリックしてお申込みフォームの記入をお願いします。
                            h3 申請の際に必要なもの
                            .accordion-sub-content
                                ul
                                    li □ マイステイズ公式サイトで予約した事を証明する「予約番号」の記載
                                    li □ 他サイトで発見された安価な料金を「印刷」又は「画面コピー」の添付
                                    li □ 予約をキャンセルしないこと
                                    li □ 以下同一条件を満たしていること
                                p.sub-note ※ チェックイン日の24時間前までのご連絡を、保証対象とさせていただきます。申請の際に件名へ「ベストプライス・ギャランティ」と記載の上その他必要事項を必ず説明へ記載お願いいたします。
                                img(src='/assets/narita/images/bestprice/form.png')
                                h4 同一条件
                                ul
                                    li 同一ホテル
                                    li 同一プラン（特典、アメニティ、付帯サービスなど）
                                    li 消費税、諸税、サービス料を含んで算出された合計金額にて比較
                                    li 同一客室タイプ・グレード
                                    li 同一ご利用人数（大人、子供、幼児含む）
                                    li 同一宿泊日（到着日、出発日）
                                    li 同一チェックイン・チェックアウト時間
                                    li 同一精算方法（現地決済、事前決済など）
                                    li キャンセル条件（事前決済、キャンセル不可、変更不可など）
                                h4 対象料金外
                                ul
                                    li 法人契約、福利厚生、特定の組織等を対象にした一般には公示されない料金
                                    li 旅行代理店等が販売する募集型企画旅行料金など、販売価格についてホテルが関与できない料金
                                    li ネットオークション、共同購入等での料金
                                    li 外貨表示など為替レートにより変動する料金
                                    li 旅行会社独自のキャンペーン料金（ポイント／クーポン等の還元、協賛を受けているプラン等を含む）
                                    li 電話でしか予約を受け付けていない等、ウェブサイト上で予約ができない料金
                                    li 宿泊以外の施設利用や交通機関等を伴うパッケージ料金
                                h4 注意事項
                                ul
                                    li 比較対象の料金は、公式サイトでのご予約後３時間以内に見つけた料金とさせていただきます。
                                    li 価格保証の申請は、公式サイトでのご予約後24時間以内、且つ、ご宿泊前日までとさせていただきます。
                                    li 公式サイトの最低価格は、「消費税・サービス税込」の料金です。申請時には、必ず「消費税・サービス税込」金額が表示された画面コピーをお送りください。
                                    li 料金為替は、対象の画面上で必ず「円」表示にした画面コピーをお送りください。
                                    li 必要事項が入力・添付されないまま申請いただいた場合は、無効となる場合がございます。
                                    li 当ページ記載内容は、予告なく変更される場合がございますので、予めご了承ください。
                li.accordion-item
                    .container
                        h4.accordion-title
                            span.number 02
                            span.text 申し込みフォームより申請してください。
                            span.right-text.box 申し込みフォームへ
                        .accordion-content
                            p マイステイズ・ホテル・マネジメント公式サイトで提供するご宿泊料金は、他のどのウェブサイトで予約するよりも、確実に最も安い「最低価格」であることを保証いたします。
                            h4 「最低価格保証」違反があった場合、
                            p ご予約後、３時間以内に、お客様がご予約されたご宿泊と同一条件の宿泊が、他インターネット予約サイトで公式サイトより安い料金で紹介されていた場合、24時以内にご連絡ください。事実確認ができた場合、ご連絡いただいた料金から10%割引させていただきます。
                            h4 違反料金のご連絡方法
                            p 公式サイトでご予約後、24時間以内に、こちらをクリックしてお申込みフォームの記入をお願いします。
                            h3 申請の際に必要なもの
                            .accordion-sub-content
                                ul
                                    li □ マイステイズ公式サイトで予約した事を証明する「予約番号」の記載
                                    li □ 他サイトで発見された安価な料金を「印刷」又は「画面コピー」の添付
                                    li □ 予約をキャンセルしないこと
                                    li □ 以下同一条件を満たしていること
                                p.sub-note ※ チェックイン日の24時間前までのご連絡を、保証対象とさせていただきます。申請の際に件名へ「ベストプライス・ギャランティ」と記載の上その他必要事項を必ず説明へ記載お願いいたします。
                                img(src='/assets/narita/images/bestprice/form.png')
                                h4 同一条件
                                ul
                                    li 同一ホテル
                                    li 同一プラン（特典、アメニティ、付帯サービスなど）
                                    li 消費税、諸税、サービス料を含んで算出された合計金額にて比較
                                    li 同一客室タイプ・グレード
                                    li 同一ご利用人数（大人、子供、幼児含む）
                                    li 同一宿泊日（到着日、出発日）
                                    li 同一チェックイン・チェックアウト時間
                                    li 同一精算方法（現地決済、事前決済など）
                                    li キャンセル条件（事前決済、キャンセル不可、変更不可など）
                                h4 対象料金外
                                ul
                                    li 法人契約、福利厚生、特定の組織等を対象にした一般には公示されない料金
                                    li 旅行代理店等が販売する募集型企画旅行料金など、販売価格についてホテルが関与できない料金
                                    li ネットオークション、共同購入等での料金
                                    li 外貨表示など為替レートにより変動する料金
                                    li 旅行会社独自のキャンペーン料金（ポイント／クーポン等の還元、協賛を受けているプラン等を含む）
                                    li 電話でしか予約を受け付けていない等、ウェブサイト上で予約ができない料金
                                    li 宿泊以外の施設利用や交通機関等を伴うパッケージ料金
                                h4 注意事項
                                ul
                                    li 比較対象の料金は、公式サイトでのご予約後３時間以内に見つけた料金とさせていただきます。
                                    li 価格保証の申請は、公式サイトでのご予約後24時間以内、且つ、ご宿泊前日までとさせていただきます。
                                    li 公式サイトの最低価格は、「消費税・サービス税込」の料金です。申請時には、必ず「消費税・サービス税込」金額が表示された画面コピーをお送りください。
                                    li 料金為替は、対象の画面上で必ず「円」表示にした画面コピーをお送りください。
                                    li 必要事項が入力・添付されないまま申請いただいた場合は、無効となる場合がございます。
                                    li 当ページ記載内容は、予告なく変更される場合がございますので、予めご了承ください。
                li.accordion-item
                    .container
                        h4.accordion-title
                            span.number 03
                            span.text 1営業日以内に返信されます。
                        .accordion-content
                            p マイステイズ・ホテル・マネジメント公式サイトで提供するご宿泊料金は、他のどのウェブサイトで予約するよりも、確実に最も安い「最低価格」であることを保証いたします。
                            h4 「最低価格保証」違反があった場合、
                            p ご予約後、３時間以内に、お客様がご予約されたご宿泊と同一条件の宿泊が、他インターネット予約サイトで公式サイトより安い料金で紹介されていた場合、24時以内にご連絡ください。事実確認ができた場合、ご連絡いただいた料金から10%割引させていただきます。
                            h4 違反料金のご連絡方法
                            p 公式サイトでご予約後、24時間以内に、こちらをクリックしてお申込みフォームの記入をお願いします。
                            h3 申請の際に必要なもの
                            .accordion-sub-content
                                ul
                                    li □ マイステイズ公式サイトで予約した事を証明する「予約番号」の記載
                                    li □ 他サイトで発見された安価な料金を「印刷」又は「画面コピー」の添付
                                    li □ 予約をキャンセルしないこと
                                    li □ 以下同一条件を満たしていること
                                p.sub-note ※ チェックイン日の24時間前までのご連絡を、保証対象とさせていただきます。申請の際に件名へ「ベストプライス・ギャランティ」と記載の上その他必要事項を必ず説明へ記載お願いいたします。
                                img(src='/assets/narita/images/bestprice/form.png')
                                h4 同一条件
                                ul
                                    li 同一ホテル
                                    li 同一プラン（特典、アメニティ、付帯サービスなど）
                                    li 消費税、諸税、サービス料を含んで算出された合計金額にて比較
                                    li 同一客室タイプ・グレード
                                    li 同一ご利用人数（大人、子供、幼児含む）
                                    li 同一宿泊日（到着日、出発日）
                                    li 同一チェックイン・チェックアウト時間
                                    li 同一精算方法（現地決済、事前決済など）
                                    li キャンセル条件（事前決済、キャンセル不可、変更不可など）
                                h4 対象料金外
                                ul
                                    li 法人契約、福利厚生、特定の組織等を対象にした一般には公示されない料金
                                    li 旅行代理店等が販売する募集型企画旅行料金など、販売価格についてホテルが関与できない料金
                                    li ネットオークション、共同購入等での料金
                                    li 外貨表示など為替レートにより変動する料金
                                    li 旅行会社独自のキャンペーン料金（ポイント／クーポン等の還元、協賛を受けているプラン等を含む）
                                    li 電話でしか予約を受け付けていない等、ウェブサイト上で予約ができない料金
                                    li 宿泊以外の施設利用や交通機関等を伴うパッケージ料金
                                h4 注意事項
                                ul
                                    li 比較対象の料金は、公式サイトでのご予約後３時間以内に見つけた料金とさせていただきます。
                                    li 価格保証の申請は、公式サイトでのご予約後24時間以内、且つ、ご宿泊前日までとさせていただきます。
                                    li 公式サイトの最低価格は、「消費税・サービス税込」の料金です。申請時には、必ず「消費税・サービス税込」金額が表示された画面コピーをお送りください。
                                    li 料金為替は、対象の画面上で必ず「円」表示にした画面コピーをお送りください。
                                    li 必要事項が入力・添付されないまま申請いただいた場合は、無効となる場合がございます。
                                    li 当ページ記載内容は、予告なく変更される場合がございますので、予めご了承ください。
        section.bestprice-page-booking
            h2 お部屋を予約しませんか？
            h3 最も安い「最低価格」で予約しませんか？
            .booking-widget
                #booking-tab1.tabs-content(onclick='FE.global.bookingWidgetClick()')
                    .date-picker-tab1
                        label チェックイン
                        .date-picker-tab1-container
                            .values
                                .startDateContainer
                                    //label チェックイン
                                    .startDate
                                        .value.date_at
                                            span.date_at
                                            input#date_at.date_at(type='hidden')
                                .to ~
                                .endDateContainer
                                    //label チェックアウト
                                    .endDate
                                        .value.date_to
                                            span.date_to
                                            input#date_to.date_to(type='hidden')
                            //.calendar-backdrop
                            .calendar
                                //img.clear(src='/assets/narita/images/clear.svg' )
                                .button.button-prev
                                .button.button-next
                                .calendarContainer
                                .bottomLayer
                                    span.daysFromTo 2018年00月00日 金曜日 ~ 2018年00月00日 金曜日
                                    .nights 10 金曜日
                                    //.button.closePopup &#x5B8C;&#x4E86;
                    .people
                        label ご利用人数
                        .people-list
                            p 大人2名, 子供1名
                                span １部屋
                        .popup-wrap.popup-create
                            //.overlay
                            .big-popup.people-list-popup
                                .head-popup
                                    section.grown-up
                                        .form-group
                                            label.form-label(for='') 大人
                                            .dropdown-custom
                                              .input-custom
                                                  button 0
                                                  .popup-menu
                                                      .popup-content-input
                                                          ul.cities
                                                              li
                                                                span(target='Hokkaido', names='Hokkaido') 0人
                                                              li
                                                                span(target='Okinawa', names='Okinawa') 1人
                                                              li
                                                                span(target='Tochigi', names='Tochigi') 2人
                                                              li
                                                                span(target='Tokyo', names='Tokyo') 3人
                                    section.children
                                        .form-group
                                            label.form-label(for='') 子供
                                            .dropdown-custom
                                              .input-custom
                                                  button 0
                                                  .popup-menu
                                                      .popup-content-input
                                                          ul.cities
                                                              li
                                                                span(target='Hokkaido', names='Hokkaido', value='0') 0人
                                                              li
                                                                span(target='Okinawa', names='Okinawa', value='1') 1人
                                                              li
                                                                span(target='Tochigi', names='Tochigi', value='2') 2人
                                                              li
                                                                span(target='Tokyo', names='Tokyo', value='3') 3人
                                    section.room
                                        .form-group
                                            label.form-label(for='') 部屋
                                            .dropdown-custom
                                              .input-custom
                                                  button 0
                                                  .popup-menu
                                                      .popup-content-input
                                                          ul.cities
                                                              li
                                                                span(target='Hokkaido', names='Hokkaido') 0
                                                              li
                                                                span(target='Okinawa', names='Okinawa') 1
                                                              li
                                                                span(target='Tochigi', names='Tochigi') 2
                                                              li
                                                                span(target='Tokyo', names='Tokyo') 3
                                .input-popup
                                    .title 小学生の添い寝について
                                    ul
                                        li 大人1名様に対し、添い寝のお子様1名までとします。
                                        li 小学生の添い寝希望のお客様がご朝食をご希望の場合、現地にて別途1,030円頂戴いたします。（未就学児は無料）
                                        li 小学生の添い寝の場合、幼児欄の「食事・布団不要」に人数をご入力の上、予約画面下の備考欄にお子様の年齢をご記載ください。
                                .btn-group
                                    button.clear クリア
                                    button.done 完了
                    .promo-code
                        section
                            .form-group
                                label.form-label(for='') プロモコード
                                .input-custom
                                    input.form-control(type='text', placeholder='プロモコード)')
                    .find-button
                        label 最低価格保証
                        button(name='submit', type='submit', value='空室を検索') 空室を検索


        include ../components/breadcrumb.pug
