extends ../layouts/default

block append content
    .facilities-main-page
        section.inner-page-mobile-menu
            .menu-gradient
            ul
                li
                    a(href="#" data-show-rooms="facilities-full-info") フィットネス
                        i.down 
                li
                    a(href="#") ショップリスト
                        i.down 
                li
                    a(href="#") アミューズメント
                        i.down 
                li
                    a(href="#") サービスについて
                        i.down         	
        section.main-banner
            picture.banner-image
                source(media='(min-width: 768px)', srcset='/assets/narita/images/facilities/facilities-banner.jpg')
                img(src='/assets/narita/images/resturant/resturant-banner-mobile.jpg') 
            .banner-text
                h1 設備
        section.facilities-menu
            ul
                li
                    a(href="#" data-show-rooms="facilities-full-info") フィットネス
                        i.down 
                li
                    a(href="#") ショップリスト
                        i.down 
                li
                    a(href="#") アミューズメント
                        i.down 
                li
                    a(href="#") サービスについて
                        i.down         	
        section.about-resturants-info.facilities-info
            .container
                h3 TOGETHER IN  STYLE
                p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
        section.design-info
            img.lazy(data-src='/assets/narita/images/facilities/1.jpg')
            .container
                .design-content
                    h2 ELEGANTLY REFINED AND SUMPTUOUSLY DESIGNED
                    p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                .design-img
                    img.lazy(data-src='/assets/narita/images/facilities/2.png')
        section.venues-list-wrap.facilities-list-wrap
            .container
                h4 ショップリスト
                ul.venue-list
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                            a.see-more(href="#" data-show-rooms="facilities-full-info")
                                span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                            a.see-more(href="#" data-show-rooms="facilities-full-info")
                                span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                            a.see-more(href="#" data-show-rooms="facilities-full-info")
                                span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                            a.see-more(href="#" data-show-rooms="facilities-full-info")
                                span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                            a.see-more(href="#" data-show-rooms="facilities-full-info")
                                span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                            a.see-more(href="#" data-show-rooms="facilities-full-info")
                                span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                            a.see-more(href="#" data-show-rooms="facilities-full-info")
                                span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                            a.see-more(href="#" data-show-rooms="facilities-full-info")
                                span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                            a.see-more(href="#" data-show-rooms="facilities-full-info")
                                span もっと見る
                h4.visible-desktop アミューズメント
                ul.rooms-list.amusement-list
                    li.show
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .room-short-info.amusement-info
                            h6 スーペリアツインハイフロア
                            p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                                .btn.room-more.popup(data-show-rooms="facilities-full-info") もっと見る
                                    i.mys-arrow-left.white
                    li.show
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .room-short-info.amusement-info
                            h6 スーペリアツインハイフロア
                            p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                                .btn.room-more.popup(data-show-rooms="facilities-full-info") もっと見る
                                    i.mys-arrow-left.white
                    li.show
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .room-short-info.amusement-info
                            h6 スーペリアツインハイフロア
                            p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                                .btn.room-more.popup(data-show-rooms="facilities-full-info") もっと見る
                                    i.mys-arrow-left.white
                    li.show
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .room-short-info.amusement-info
                            h6 スーペリアツインハイフロア
                            p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                                .btn.room-more.popup(data-show-rooms="facilities-full-info") もっと見る
                                    i.mys-arrow-left.white
        section.promo-content
            h3 サービスについて
            ul.row
                li.col.col-1-3
                    source(media='(min-width: 356px)', srcset='/assets/narita/images/facilities/service1.jpg')
                    img(src='/assets/narita/images/facilities/service1.jpg')
                    .content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら
                li.col.col-1-3
                    source(media='(min-width: 356px)', srcset='/assets/narita/images/facilities/service2.jpg')
                    img(src='/assets/narita/images/facilities/service2.jpg')
                    .content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら
                li.col.col-1-3
                    source(media='(min-width: 356px)', srcset='/assets/narita/images/facilities/service3.png')
                    img(src='/assets/narita/images/facilities/service3.png')
                    .content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら
        include ../components/breadcrumb.pug
    #facilities-full-info(data-basicLightbox data-id="facilities-full-info" class="room-detail facilities-detail-popup")
        .room-info-header 
            .close-room 
                | x
        include ../components/facilities-info.pug