extends ../layouts/default

block append content
    .highlights-main-page
        section.main-banner
            picture.banner-image
                source(media='(min-width: 768px)', srcset='/assets/narita/images/facilities/facilities-banner.jpg')
                img(src='/assets/narita/images/resturant/resturant-banner-mobile.jpg') 
            .banner-text
                h1 オファー
        section.highlights-list-wrap
            .container
                .highlights-list
                    <h4>2018年 6月</h4>
                    .row
                        .col.col-1-2
                            img(src='/assets/narita/images/highlights/pic1.jpg') 
                        .col.col-1-2
                            .highlights-content
                                .highlight-helper
                                    span.date 11
                                        span.day-text 日
                                    <a class="show-more" href="#">もっと見る<i class="icon-arw"></i></a>
                                .highlight-text 
                                    p あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風
                    .row
                        .col.col-1-2
                            img(src='/assets/narita/images/highlights/noimg.jpg') 
                        .col.col-1-2
                            .highlights-content
                                .highlight-helper
                                    span.date 11
                                        span.day-text 日
                                    <a class="show-more" href="#">もっと見る<i class="icon-arw"></i></a>
                                .highlight-text 
                                    p あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風
                    .row
                        .col.col-1-2
                            img(src='/assets/narita/images/highlights/pic1.jpg') 
                        .col.col-1-2
                            .highlights-content
                                .highlight-helper
                                    span.date 11
                                        span.day-text 日
                                    <a class="show-more" href="#">もっと見る<i class="icon-arw"></i></a>
                                .highlight-text 
                                    p あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風
                .highlights-list
                    <h4>2018年 6月</h4>
                    .row
                        .col.col-1-2
                            img(src='/assets/narita/images/highlights/pic1.jpg') 
                        .col.col-1-2
                            .highlights-content
                                .highlight-helper
                                    span.date 11
                                        span.day-text 日
                                    <a class="show-more" href="#">もっと見る<i class="icon-arw"></i></a>
                                .highlight-text 
                                    p あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風
                    .row
                        .col.col-1-2
                            img(src='/assets/narita/images/highlights/noimg.jpg') 
                        .col.col-1-2
                            .highlights-content
                                .highlight-helper
                                    span.date 11
                                        span.day-text 日
                                    <a class="show-more" href="#">もっと見る<i class="icon-arw"></i></a>
                                .highlight-text 
                                    p あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風
                    .row
                        .col.col-1-2
                            img(src='/assets/narita/images/highlights/pic1.jpg') 
                        .col.col-1-2
                            .highlights-content
                                .highlight-helper
                                    span.date 11
                                        span.day-text 日
                                    <a class="show-more" href="#">もっと見る<i class="icon-arw"></i></a>
                                .highlight-text 
                                    p あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風
        include ../components/breadcrumb.pug