extends ../layouts/default

block append content
    .highlights-detail-page
        section.hightlights-detail-content
            .container
                img.highlights-banner(src='/assets/narita/images/highlights/highlight-detail.jpg')
                .h4.highlight-title あのイーハトーヴォのすきとおった風
                span.highlight-date 2018/6/10
                .row
                    .col.col-1-2
                        .highlight-detail-text
                            p あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風
                            ul
                             li あのイーハトーヴォ
                             li あのイーハトーヴォ
                    .col.col-1-2
                        .inquery-detail
                            
        include ../components/subscribe.pug
        include ../components/breadcrumb.pug