extends ../layouts/default

block append content
    .highlights-detail-page
        section.hightlights-detail-content
            .container
                img.highlights-banner(src='/assets/narita/images/highlights/highlight-detail.jpg')
                h4.highlight-title あのイーハトーヴォのすきとおった風
                span.highlight-date 2018/6/10
                .row
                    .col.col-1-2
                        .highlight-detail-text
                            p あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風、夏でも底に。あのイーハトーヴォのすきとおった風
                            ul
                             li あのイーハトーヴォ
                             li あのイーハトーヴォ
                    .col.col-1-2
                        .inquery-detail
                            h3 その他の詳細に関するお問い合わせ
                            span.phone-text お電話でのお問い合わせ
                            span.phone 
                                i.icon-phone
                                | 03-3434-3939
                            span.email メールでのお問い合わせ
                            a.btn(href="#") お問い合わせ
                            span.anytime 24時間対応
        include ../components/subscribe.pug
        include ../components/breadcrumb.pug