extends ../layouts/default

block append content
    .offer-main-page
        section.main-banner
            picture.banner-image
                source(media='(min-width: 768px)', srcset='/assets/narita/images/facilities/facilities-banner.jpg')
                img(src='/assets/narita/images/resturant/resturant-banner-mobile.jpg') 
            .banner-text
                h1 オファー
        .about-rooms-wrap
            .about-rooms-info
                h3 ELEGANTLY REFINED AND SUMPTUOUSLY DESIGNED
                p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
        section.venues-list-wrap.offer-list-wrap
            .container
                a#tablink(href='') 一覧表示
                ul.room-types.offer-types#room-types
                    li
                        a.selected(data-room-type="offers") OFFERS
                    li
                        a(data-room-type="aaa") AAA
                    li
                        a( data-room-type="global") GLOBAL BUSINESS PROGRAMS
                span.right-tag 12 ロケーション中の 12 を表示
                ul.venue-list
                    li.show(data-rooms="offers")
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.offer-short-info
                            .ribbon.blue 朝食無料クーポン付き
                            h6 あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            p Harbiye Mahallesi, Abdi Ipekci CaddesiNo 12 Nişantaşı, Şişli Istanbul, トルコ, 34367          							
                            a.see-more(href="#" data-show-rooms="offer-full-info")
                                span もっと見る
                    li.show(data-rooms="offers")
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.offer-short-info
                            h6 あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            p Harbiye Mahallesi, Abdi Ipekci CaddesiNo 12 Nişantaşı, Şişli Istanbul, トルコ, 34367          							
                            a.see-more(href="#" data-show-rooms="facilities-full-info")
                                span もっと見る
                    li.show(data-rooms="offers")
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.offer-short-info
                            h6 あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            p Harbiye Mahallesi, Abdi Ipekci CaddesiNo 12 Nişantaşı, Şişli Istanbul, トルコ, 34367          							
                            a.see-more(href="#" data-show-rooms="facilities-full-info")
                                span もっと見る
                    li.show(data-rooms="aaa")
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.offer-short-info
                            h6 あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            p Harbiye Mahallesi, Abdi Ipekci CaddesiNo 12 Nişantaşı, Şişli Istanbul, トルコ, 34367          							
                            a.see-more(href="#" data-show-rooms="facilities-full-info")
                                span もっと見る
                    li.show(data-rooms="aaa")
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.offer-short-info
                            h6 あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            p Harbiye Mahallesi, Abdi Ipekci CaddesiNo 12 Nişantaşı, Şişli Istanbul, トルコ, 34367          							
                            a.see-more(href="#" data-show-rooms="facilities-full-info")
                                span もっと見る
                    li.show(data-rooms="aaa")
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.offer-short-info
                            h6 あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            p Harbiye Mahallesi, Abdi Ipekci CaddesiNo 12 Nişantaşı, Şişli Istanbul, トルコ, 34367          							
                            a.see-more(href="#" data-show-rooms="facilities-full-info")
                                span もっと見る
                    li.show(data-rooms="global")
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.offer-short-info
                            h6 あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            p Harbiye Mahallesi, Abdi Ipekci CaddesiNo 12 Nişantaşı, Şişli Istanbul, トルコ, 34367          							
                            a.see-more(href="#" data-show-rooms="facilities-full-info")
                                span もっと見る
        include ../components/breadcrumb.pug
    #offer-full-info(data-basicLightbox data-id="offer-full-info" class="room-detail")
        .room-info-header.offer-info-header
            .content-right
                .close-room
                    i.icon-close
                a(href='#').book-room
                    | 予約する                
                .rating-wrap
                    .review-count レビュー
                    .rating-units
                        span.rating-unit.is-full
                            i.icon-star
                        span.rating-unit.is-full
                            i.icon-star
                        span.rating-unit.is-full
                            i.icon-star
                        span.rating-unit.is-full
                            i.icon-star
                        span.rating-unit
                    .rating-number
                        span 4.3
            .phone-number.header
                | Mama treatment
        include ../components/offer-info.pug
    include ../components/gallery-mask.pug