extends ../layouts/default

block append content
	.resturant-detail-page
		section.main-banner
			picture.banner-image
				source(media='(min-width: 768px)', srcset='/assets/narita/images/resturant/resturant-banner.jpg')
				img(src='/assets/narita/images/resturant/resturant-banner-mobile.jpg') 
			.banner-text
				h1  レストラン 「ガーデニア」 
		section.resturant-detail-menu-wrap
			.resturant-detail-cta-wrap
				.rating-wrap
					.review-count レビュー
					.rating-units
						span.rating-unit.is-full
							i.icon.sprite-star
						span.rating-unit.is-full
							i.icon.sprite-star
						span.rating-unit.is-full
							i.icon.sprite-star
						span.rating-unit.is-full
							i.icon.sprite-star
						span.rating-unit
					.rating-number
						span 4 
						| / 5				
				.cta 
					i.icon.sprite-tel_sp
					span 000-0000-0000	
				.btn 予約する
			.resturant-detail-menu
				ul
					li
						a(href="#") 会場一覧
								span
									i.down
					li 
						a(href="#") ギャラリー
								span
									i.down
					li 
						a(href="#") ケータリングメニュー
								span
									i.down
					li 
						a(href="#") 所在地
								span
									i.down
		section.resturant-timing-wrap
			h2.higlight 
				i
				span 営業時間
				i
			.resturant-timing
				.timings
					.slot 朝食
					.time 7:00 ~ 9:30
					.lo LO 9:00
				.timings
					.slot 朝食
					.time 7:00 ~ 9:30
					.lo LO 9:00
				.timings
					.slot 朝食
					.time 7:00 ~ 9:30
					.lo LO 9:00
		section.resturamt-food-wrap
			include ../components/inner-page-food-menu.pug
		section.inner-page-slider-wrap.resturant-detail-slider
			h2.higlight 
				i
				span 営業時間
				i
			a#tablink(href='') open
			.tabs#gallery-tabs
				ul.tabs-header#tabs-header
					li
						a.tabs-title(href='#') 一覧表示
					li
						a.tabs-title(href='#') 主菜
					li
						a.tabs-title(href='#') ドリンク
					li
						a.tabs-title(href='#') デコール
				.tabs-content
					.inner-page-slider.container 
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider1.jpg')  
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider2.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider3.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider1.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider2.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider3.jpg')
					.inner-page-slider-info.container
						.slider-count
							span.number 1
							|  / 6	
				.tabs-content
					.inner-page-slider.container 
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider1.jpg')  
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider2.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider3.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider1.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider2.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider3.jpg')
					.inner-page-slider-info.container
						.slider-count
							span.number 1
							|  / 6
				.tabs-content
					.inner-page-slider.container 
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider1.jpg')  
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider2.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider3.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider1.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider2.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider3.jpg')
					.inner-page-slider-info.container
						.slider-count
							span.number 1
							|  / 6
				.tabs-content
					.inner-page-slider.container 
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider1.jpg')  
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider2.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider3.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider1.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider2.jpg')
						div.slick-slide
							img(src='/assets/narita/images/venue-slider/venue-slider3.jpg')
					.inner-page-slider-info.container
						.slider-count
							span.number 1
							|  / 6	
		section.location
			.section-title
				h2.higlight 
					i
					span 営業時間
					i
			.map-container
				#gmap_canvas
				.map-info-wrap
					h3 HOW TO FIND US
					ul
						li JR「成田」駅および成田空港からシャトルバスに揺られて15分。
						li 空港通り沿いに「ホテルマイステイズプレミア成田」は建ちます。
						li 駅や空港からはタクシーもご利用いただけます。
					.contact-us-info
						.phone
							|ご予約の 
							br
							|お問い合わせ
							span 000-0000-0000
						.phone
							|ご予約の 
							br
							|お問い合わせ
							span 000-0000-0000
				.btn.btn-map GOOGLE MAPで見る 
					i.mys-arrow-left.white
		section.resturants-detail-list
			.large-container
				h2.higlight 
					i
					span その他のレストラン
					i
				ul
					li
						img(src='/assets/narita/images/resturant/resturant-small1.jpg')
						.resturant-list-info
							h2 レストラン「ガーデニア」
							a.see-more(href="#" data-show-rooms="room-full-info")
								span もっと見る
					li
						img(src='/assets/narita/images/resturant/resturant-small2.jpg')
						.resturant-list-info
							h2 レストラン「ガーデニア」						
							a.see-more 
								span もっと見る
					li
						img(src='/assets/narita/images/resturant/resturant-small3.jpg')
						.resturant-list-info
							h2 レストラン「ガーデニア」						
							a.see-more 
								span もっと見る
					li
						img(src='/assets/narita/images/resturant/resturant-small4.jpg')
						.resturant-list-info
							h2 レストラン「ガーデニア」						
							a.see-more 
								span もっと見る		
		include ../components/breadcrumb.pug
	#room-full-info(data-basicLightbox data-id="room-full-info" class="room-detail resturant-detail-popup")
		.room-info-header 
			span レストラン「ガーデニア」			
			a(href="#").book-room
				| 予約する
			.close-room
				| x
			.phone-number
				i.icon.sprite-tel_sp
				| 000-0000-0000
		include ../components/resturant-info.pug