extends ../layouts/default

block append content
	include ../components/banner.pug
	.visible-device
		include ../components/booking-widget.pug
	.about-rooms-wrap
		.about-rooms-info
			h3 ELEGANTLY REFINED AND SUMPTUOUSLY DESIGNED
			p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
		.rooms-list-wrap
			.container
				h4 お部屋一覧
				a#tablink(href='') 一覧表示
				ul.room-types#room-types
					li
						a.selected(data-room-type="all") 一覧表示
					li
						a(data-room-type="single") スペシャリティスイート
					li
						a( data-room-type="double") 家族部屋
					li
						a( data-room-type="triple") 女性専用部屋
					li
						a( data-room-type="smoking") 禁煙室 
					li
						a( data-room-type="family") 喫煙室
				ul.rooms-list
					li.show(data-rooms="all smoking family")
						img.lazy(data-src='/assets/narita/images/room-big1.jpg')
						.room-short-info
							h6 スーペリアツインハイフロア
							.price ￥9,000~
							.room-facilities
								ul
									li ベッドタイプ 
										span ツイン
									li ベッド数
										span 2
									li ベッドサイズ
										span 1200
								ul
									li 㝡大宿泊人数
										span 2
									li エキストラベッド
										span 1
								.btn.room-more.popup(data-show-rooms="room-full-info") もっと見る
									i.mys-arrow-left.white
					li.show(data-rooms="all single")
						img.lazy(data-src='/assets/narita/images/room-big1.jpg')
						.room-short-info
							h6 スーペリアツインハイフロア
							.price ￥9,000~
							.room-facilities
								ul
									li ベッドタイプ 
										span ツイン
									li ベッド数
										span 2
									li ベッドサイズ
										span 1200
								ul
									li 㝡大宿泊人数
										span 2
									li エキストラベッド
										span 1
								.btn.room-more.popup(data-show-rooms="room-full-info") もっと見る
									i.mys-arrow-left.white
					li.show(data-rooms="all double")
						img.lazy(data-src='/assets/narita/images/room-big1.jpg' )
						.room-short-info
							h6 スーペリアツインハイフロア
							.price ￥9,000~
							.room-facilities
								ul
									li ベッドタイプ 
										span ツイン
									li ベッド数
										span 2
									li ベッドサイズ
										span 1200
								ul
									li 㝡大宿泊人数
										span 2
									li エキストラベッド
										span 1
								.btn.room-more.popup(data-show-rooms="room-full-info") もっと見る
									i.mys-arrow-left.white
					li.show(data-rooms="all smoking triple")
						img.lazy(data-src='/assets/narita/images/room-big1.jpg')
						.room-short-info
							h6 スーペリアツインハイフロア
							.price ￥9,000~
							.room-facilities
								ul
									li ベッドタイプ 
										span ツイン
									li ベッド数
										span 2
									li ベッドサイズ
										span 1200
								ul
									li 㝡大宿泊人数
										span 2
									li エキストラベッド
										span 1
								.btn.room-more.popup(data-show-rooms="room-full-info") もっと見る
									i.mys-arrow-left.white
			
		include ../components/breadcrumb.pug
	#room-full-info(data-basicLightbox data-id="room-full-info" class="room-detail")
		.room-info-header
			.room-price
				span 宿泊料金
				| ￥9,000
			a(href="#").book-room
				| 予約する
			.close-room
				| x  
		include ../components/room-info.pug
