extends ../layouts/default

block append content
    .page-gallery
        section.main-banner
            picture.banner-image
                source(media='(min-width: 768px)', srcset='/assets/narita/images/resturant/resturant-banner.jpg')
                img(src='/assets/narita/images/resturant/resturant-banner-mobile.jpg') 
            .banner-text
                h1  ギャラリー        
        section.user-gallery-images
            .large-container
                ul
                    li
                       a(href="https://www.instagram.com/p/Bmz1HmYgXBJ/" target="_blank" class="insta-image lazy" data-src="//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg" style="background-image: url(//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg);")
                            .insta-mask
                                .insta-content
                                    span.insta-likes 0
                                    span.insta-comments 0 
                    li
                       a(href="https://www.instagram.com/p/Bmz1HmYgXBJ/" target="_blank" class="insta-image lazy" data-src="//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg" style="background-image: url(//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg);")
                            .insta-mask
                                .insta-content
                                    span.insta-likes 0
                                    span.insta-comments 0
                    li
                       a(href="https://www.instagram.com/p/Bmz1HmYgXBJ/" target="_blank" class="insta-image lazy" data-src="//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg" style="background-image: url(//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg);")
                            .insta-mask
                                .insta-content
                                    span.insta-likes 0
                                    span.insta-comments 0
                    li
                       a(href="https://www.instagram.com/p/Bmz1HmYgXBJ/" target="_blank" class="insta-image lazy" data-src="//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg" style="background-image: url(//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg);")
                            .insta-mask
                                .insta-content
                                    span.insta-likes 0
                                    span.insta-comments 0
                    li
                       a(href="https://www.instagram.com/p/Bmz1HmYgXBJ/" target="_blank" class="insta-image lazy" data-src="//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg" style="background-image: url(//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg);")
                            .insta-mask
                                .insta-content
                                    span.insta-likes 0
                                    span.insta-comments 0
                    li
                       a(href="https://www.instagram.com/p/Bmz1HmYgXBJ/" target="_blank" class="insta-image lazy" data-src="//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg" style="background-image: url(//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg);")
                            .insta-mask
                                .insta-content
                                    span.insta-likes 0
                                    span.insta-comments 0
                    li
                       a(href="https://www.instagram.com/p/Bmz1HmYgXBJ/" target="_blank" class="insta-image lazy" data-src="//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg" style="background-image: url(//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg);")
                            .insta-mask
                                .insta-content
                                    span.insta-likes 0
                                    span.insta-comments 0
                    li
                       a(href="https://www.instagram.com/p/Bmz1HmYgXBJ/" target="_blank" class="insta-image lazy" data-src="//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg" style="background-image: url(//scontent.cdninstagram.com/vp/7d91f47bb149876268345a422807cc75/5C14C3A6/t51.2885-15/e35/38996699_286632395399140_2208796638317641728_n.jpg);")
                            .insta-mask
                                .insta-content
                                    span.insta-likes 0
                                    span.insta-comments 0                   
        include ../components/breadcrumb.pug
        .gallery-nav#gallery-nav(data-basicLightbox data-id="popup-gallery")
            