@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff') format('woff'), local('sans-serif');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-L';
    src: url('../fonts/Lato-Light.woff') format('woff'), local('sans-serif');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-I';
    src: url('../fonts/Lato-Italic.woff') format('woff'), local('sans-serif');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato-B';
    src: url('../fonts/Lato-Bold.woff') format('woff'), local('sans-serif');
    font-weight: 700;
    font-style: normal;
}

$default-font: 'Lato';
$mi-regular:"Yu Mincho Medium", "游明朝 Medium", YuMincho, "游明朝体", "Sawarabi Mincho", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
$mi-semibold:"Yu Mincho Medium", "游明朝 Medium", YuMincho, "游明朝体", "Sawarabi Mincho", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
$go-semibold: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "Sawarabi Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
$go-bold: "Yu Gothic Bold", "游ゴシック Bold", "YuGothic", "ゴシック体", "Sawarabi Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;


// @font-face {
//     font-family: 'YuMin';
//     src: local('Yu Mincho'), local('Yu Gothic'), local('hiragino kaku gothic') local('Sawarabi Mincho'), local('ヒラギノ角ゴ Pro W3'), local('メイリオ'), local(メイリオ);
//     font-style: normal;
//     font-weight: 400;
// }

// @font-face {
//     font-family: 'YuGo';
//     src: local('Yu Gothic'), local('Yu Mincho'), local('ヒラギノ角ゴ Pro W3'), local('メイリオ'), local(メイリオ);
//     font-style: normal;
// }