@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?twcjox') format('truetype'),
    url('fonts/icomoon.woff?twcjox') format('woff'),
    url('fonts/icomoon.svg?twcjox#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-generation:before {
  content: "\e900";
}
.icon-activity:before {
  content: "\e901";
}
.icon-airconditioner:before {
  content: "\e902";
}
.icon-airpurifier:before {
  content: "\e903";
}
.icon-alarmclock:before {
  content: "\e904";
}
.icon-arw:before {
  content: "\e905";
}
.icon-babycot:before {
  content: "\e906";
}
.icon-babysitterservice:before {
  content: "\e907";
}
.icon-babysittingamenityset:before {
  content: "\e908";
}
.icon-bathroomamenities:before {
  content: "\e909";
}
.icon-bathtowel:before {
  content: "\e90a";
}
.icon-bedguard:before {
  content: "\e90b";
}
.icon-bicycles:before {
  content: "\e90c";
}
.icon-bodysoap:before {
  content: "\e90d";
}
.icon-bodysponge:before {
  content: "\e90e";
}
.icon-calender:before {
  content: "\e90f";
}
.icon-cellphonecharger:before {
  content: "\e910";
}
.icon-checked:before {
  content: "\e911";
}
.icon-cleaningservice:before {
  content: "\e912";
}
.icon-close:before {
  content: "\e913";
}
.icon-clothesiron:before {
  content: "\e914";
}
.icon-coffeemachine:before {
  content: "\e915";
}
.icon-coffeeservice:before {
  content: "\e916";
}
.icon-conditioner:before {
  content: "\e917";
}
.icon-conveniencestore:before {
  content: "\e918";
}
.icon-cookware:before {
  content: "\e919";
}
.icon-cookwareinkitchen:before {
  content: "\e91a";
}
.icon-Cottonswab:before {
  content: "\e91b";
}
.icon-coupleorientedroom:before {
  content: "\e91c";
}
.icon-courierservice:before {
  content: "\e91d";
}
.icon-day-plan:before {
  content: "\e91e";
}
.icon-desk:before {
  content: "\e91f";
}
.icon-desklamp:before {
  content: "\e920";
}
.icon-doublebed:before {
  content: "\e921";
}
.icon-doublebed-small:before {
  content: "\e922";
}
.icon-download:before {
  content: "\e923";
  color: #fff;
}
.icon-DVDplayer:before {
  content: "\e924";
}
.icon-electrickettle:before {
  content: "\e925";
}
.icon-facebook:before {
  content: "\e926";
  color: #fff;
}
.icon-facetowel:before {
  content: "\e927";
}
.icon-familyorientedroom:before {
  content: "\e928";
}
.icon-fax:before {
  content: "\e929";
}
.icon-fitness:before {
  content: "\e92a";
}
.icon-flag_ch .path1:before {
  content: "\e92b";
  color: rgb(209, 46, 26);
}
.icon-flag_ch .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(244, 214, 33);
}
.icon-flag_en .path1:before {
  content: "\e92d";
  color: rgb(255, 255, 255);
}
.icon-flag_en .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(209, 0, 14);
}
.icon-flag_en .path3:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(18, 51, 95);
}
.icon-flag_en .path4:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-flag_jp .path1:before {
  content: "\e931";
  color: rgb(255, 255, 255);
}
.icon-flag_jp .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(230, 0, 18);
}
.icon-flag_kr .path1:before {
  content: "\e933";
  color: rgb(249, 249, 249);
}
.icon-flag_kr .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(186, 26, 48);
}
.icon-flag_kr .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(18, 54, 109);
}
.icon-flag_kr .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(4, 0, 0);
}
.icon-freeshuttlebus:before {
  content: "\e937";
}
.icon-grouporientedroom:before {
  content: "\e938";
}
.icon-gym:before {
  content: "\e939";
}
.icon-hairbrush:before {
  content: "\e93a";
}
.icon-haircomb:before {
  content: "\e93b";
}
.icon-hairdryer:before {
  content: "\e93c";
}
.icon-handsoap:before {
  content: "\e93d";
}
.icon-hotelphoto:before {
  content: "\e93e";
}
.icon-hotspring:before {
  content: "\e93f";
}
.icon-humidifier:before {
  content: "\e940";
}
.icon-icemachine:before {
  content: "\e941";
}
.icon-IHcooker:before {
  content: "\e942";
}
.icon-info:before {
  content: "\e943";
}
.icon-in-roommassage:before {
  content: "\e944";
}
.icon-insta:before {
  content: "\e945";
}
.icon-japanesepublicbath:before {
  content: "\e946";
}
.icon-ladiesamenitiesset:before {
  content: "\e947";
}
.icon-lan:before {
  content: "\e948";
}
.icon-laundary:before {
  content: "\e949";
}
.icon-library:before {
  content: "\e94a";
}
.icon-like:before {
  content: "\e94b";
  color: #fff;
}
.icon-login:before {
  content: "\e94c";
  color: #fff;
}
.icon-map_pin .path1:before {
  content: "\e94d";
  color: rgb(35, 46, 72);
}
.icon-map_pin .path2:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-meetingroom:before {
  content: "\e94f";
}
.icon-memoryfoampillow:before {
  content: "\e950";
}
.icon-menu:before {
  content: "\e951";
  color: #fff;
}
.icon-microwaveoven:before {
  content: "\e952";
}
.icon-mini-fridge.svg:before {
  content: "\e953";
}
.icon-modularbathroom:before {
  content: "\e954";
}
.icon-multiple-users-silhouette:before {
  content: "\e955";
}
.icon-negativeionhairdryer:before {
  content: "\e956";
}
.icon-next:before {
  content: "\e957";
}
.icon-nightwear:before {
  content: "\e958";
}
.icon-parkinglot:before {
  content: "\e959";
}
.icon-PCrental:before {
  content: "\e95a";
}
.icon-people:before {
  content: "\e95b";
}
.icon-petorientedroom:before {
  content: "\e95c";
}
.icon-phone:before {
  content: "\e95d";
  color: #fff;
}
.icon-pocketwifi:before {
  content: "\e95e";
}
.icon-pool:before {
  content: "\e95f";
}
.icon-portablespeaker:before {
  content: "\e960";
}
.icon-postalservice:before {
  content: "\e961";
}
.icon-prev:before {
  content: "\e962";
}
.icon-razor:before {
  content: "\e963";
}
.icon-refreshroom:before {
  content: "\e964";
}
.icon-rinse:before {
  content: "\e965";
}
.icon-safetybox:before {
  content: "\e966";
}
.icon-sauna:before {
  content: "\e967";
}
.icon-seniororientedroom:before {
  content: "\e968";
}
.icon-shampoo:before {
  content: "\e969";
}
.icon-shavingcream:before {
  content: "\e96a";
}
.icon-shower:before {
  content: "\e96b";
}
.icon-showercap:before {
  content: "\e96c";
}
.icon-shuttlebus:before {
  content: "\e96d";
}
.icon-singlebed:before {
  content: "\e96e";
}
.icon-smellspray:before {
  content: "\e96f";
}
.icon-souveniorshop:before {
  content: "\e970";
}
.icon-star:before {
  content: "\e971";
  color: #fff;
}
.icon-tableware:before {
  content: "\e972";
}
.icon-tablewareinkitchen:before {
  content: "\e973";
}
.icon-telephone:before {
  content: "\e974";
}
.icon-toiletwithwashlet:before {
  content: "\e975";
}
.icon-toothbrushset:before {
  content: "\e976";
}
.icon-trouserpress:before {
  content: "\e977";
}
.icon-tv:before {
  content: "\e978";
}
.icon-twitter:before {
  content: "\e979";
  color: #fff;
}
.icon-vendingmachine:before {
  content: "\e97a";
}
.icon-videoondemand:before {
  content: "\e97b";
}
.icon-wheelchair:before {
  content: "\e97c";
}
.icon-whiteboard:before {
  content: "\e97d";
}
.icon-wifi:before {
  content: "\e97e";
}
