$icomoon-font-path: "fonts" !default;

$icon-generation: "\e900";
$icon-activity: "\e901";
$icon-airconditioner: "\e902";
$icon-airpurifier: "\e903";
$icon-alarmclock: "\e904";
$icon-arw: "\e905";
$icon-babycot: "\e906";
$icon-babysitterservice: "\e907";
$icon-babysittingamenityset: "\e908";
$icon-bathroomamenities: "\e909";
$icon-bathtowel: "\e90a";
$icon-bedguard: "\e90b";
$icon-bicycles: "\e90c";
$icon-bodysoap: "\e90d";
$icon-bodysponge: "\e90e";
$icon-calender: "\e90f";
$icon-cellphonecharger: "\e910";
$icon-checked: "\e911";
$icon-cleaningservice: "\e912";
$icon-close: "\e913";
$icon-clothesiron: "\e914";
$icon-coffeemachine: "\e915";
$icon-coffeeservice: "\e916";
$icon-conditioner: "\e917";
$icon-conveniencestore: "\e918";
$icon-cookware: "\e919";
$icon-cookwareinkitchen: "\e91a";
$icon-Cottonswab: "\e91b";
$icon-coupleorientedroom: "\e91c";
$icon-courierservice: "\e91d";
$icon-day-plan: "\e91e";
$icon-desk: "\e91f";
$icon-desklamp: "\e920";
$icon-doublebed: "\e921";
$icon-doublebed-small: "\e922";
$icon-download: "\e923";
$icon-DVDplayer: "\e924";
$icon-electrickettle: "\e925";
$icon-facebook: "\e926";
$icon-facetowel: "\e927";
$icon-familyorientedroom: "\e928";
$icon-fax: "\e929";
$icon-fitness: "\e92a";
$icon-flag_ch-path1: "\e92b";
$icon-flag_ch-path2: "\e92c";
$icon-flag_en-path1: "\e92d";
$icon-flag_en-path2: "\e92e";
$icon-flag_en-path3: "\e92f";
$icon-flag_en-path4: "\e930";
$icon-flag_jp-path1: "\e931";
$icon-flag_jp-path2: "\e932";
$icon-flag_kr-path1: "\e933";
$icon-flag_kr-path2: "\e934";
$icon-flag_kr-path3: "\e935";
$icon-flag_kr-path4: "\e936";
$icon-freeshuttlebus: "\e937";
$icon-grouporientedroom: "\e938";
$icon-gym: "\e939";
$icon-hairbrush: "\e93a";
$icon-haircomb: "\e93b";
$icon-hairdryer: "\e93c";
$icon-handsoap: "\e93d";
$icon-hotelphoto: "\e93e";
$icon-hotspring: "\e93f";
$icon-humidifier: "\e940";
$icon-icemachine: "\e941";
$icon-IHcooker: "\e942";
$icon-info: "\e943";
$icon-in-roommassage: "\e944";
$icon-insta: "\e945";
$icon-japanesepublicbath: "\e946";
$icon-ladiesamenitiesset: "\e947";
$icon-lan: "\e948";
$icon-laundary: "\e949";
$icon-library: "\e94a";
$icon-like: "\e94b";
$icon-login: "\e94c";
$icon-map_pin-path1: "\e94d";
$icon-map_pin-path2: "\e94e";
$icon-meetingroom: "\e94f";
$icon-memoryfoampillow: "\e950";
$icon-menu: "\e951";
$icon-microwaveoven: "\e952";
$icon-mini-fridge.svg: "\e953";
$icon-modularbathroom: "\e954";
$icon-multiple-users-silhouette: "\e955";
$icon-negativeionhairdryer: "\e956";
$icon-next: "\e957";
$icon-nightwear: "\e958";
$icon-parkinglot: "\e959";
$icon-PCrental: "\e95a";
$icon-people: "\e95b";
$icon-petorientedroom: "\e95c";
$icon-phone: "\e95d";
$icon-pocketwifi: "\e95e";
$icon-pool: "\e95f";
$icon-portablespeaker: "\e960";
$icon-postalservice: "\e961";
$icon-prev: "\e962";
$icon-razor: "\e963";
$icon-refreshroom: "\e964";
$icon-rinse: "\e965";
$icon-safetybox: "\e966";
$icon-sauna: "\e967";
$icon-seniororientedroom: "\e968";
$icon-shampoo: "\e969";
$icon-shavingcream: "\e96a";
$icon-shower: "\e96b";
$icon-showercap: "\e96c";
$icon-shuttlebus: "\e96d";
$icon-singlebed: "\e96e";
$icon-smellspray: "\e96f";
$icon-souveniorshop: "\e970";
$icon-star: "\e971";
$icon-tableware: "\e972";
$icon-tablewareinkitchen: "\e973";
$icon-telephone: "\e974";
$icon-toiletwithwashlet: "\e975";
$icon-toothbrushset: "\e976";
$icon-trouserpress: "\e977";
$icon-tv: "\e978";
$icon-twitter: "\e979";
$icon-vendingmachine: "\e97a";
$icon-videoondemand: "\e97b";
$icon-wheelchair: "\e97c";
$icon-whiteboard: "\e97d";
$icon-wifi: "\e97e";

