.attractions-main-page {
  .container {
    max-width: 1280px;
  }

  .about-attractions-info {
    max-width: 560px;
    margin: 0 auto;
    padding: 40px 30px;
    text-align: center;
    @include md {
      padding: 50px 0 80px;
    }

    h3 {
      font-family: 'YuGo';
      margin-bottom: 20px;
      line-height: 1.4;
      letter-spacing: 4px;
      @include md {
        margin-bottom: 30px;
      }
    }

    p {
      @include font-size(14px);
      font-family: 'YuMin';
      line-height: 2;
      letter-spacing: 1.4px;
      margin: 0;
    }
  }

  .attractions-list {
    overflow: hidden;


    ul {
      margin: 0;
      padding: 0;
    }

    li {
      @extend %clearfix;
      //display: block;
      //position: relative;

      img {
        width: 680px;
        height: auto;
        position: static;
      }

      @include md {
        margin-bottom: 200px;
        //float: left;
        list-style: none;
        .attraction-list-info {
          margin-top: 105px;
        }

        img{
          position: absolute;
        }

        &:nth-child(even) {
          .attraction-list-info {
            float: left;
          }

          img {
            float: right;
             right:0;
          }
        }

        &:nth-child(odd) {
          .attraction-list-info {
            float: right;
          }

          img {
            float: left;
          }
        }
      }
      @include lg {
        .attraction-list-info {
          //right: -120px;
        }
        // &:nth-child(odd) {
        //   .attraction-list-info {
        //     left: -120px;
        //   }
        // }
      }

      .attraction-list-info {
        @extend %clearfix;
        background: #fff;
        padding: 40px;
        opacity: 0.95;
        color: #000;
        text-align: center;
        position: relative;
        margin-top: 100px;
        .number{
            font-family: Lato;
          font-size: 100px;
          position: absolute;
          right:59px;
          top: -30px;
        }
        @include md {
          //position: absolute;
          padding: 80px 60px;
          //top: 100px;
          max-width: 500px;
          box-shadow: 14.1px 14.1px 90px 0 rgba(0, 0, 0, 0.2);
          text-align: left;
        }

        h2 {
          @include font-size(20px);
          letter-spacing: 0.5px;
          font-family: 'YuMin';
          margin: 0 0 25px;
          @include md {
             @include font-size(20px);
            margin: 0 0 35px;
          }
        }

        > p {
          font-family: 'YuMin';
          line-height: 2;
          letter-spacing: 1.4px;
          margin-bottom: 30px;
          @include md {
            margin-bottom: 40px;
          }
        }

        h6 {
          @include font-size(14px);
          line-height: 1.79;
          letter-spacing: 2.8px;
          margin-bottom: 10px;
          @include md {
            margin-bottom: 20px;
          }
        }

        .business-hours {
          margin-bottom: 25px;
          @include md {
            display: block;
            float: left;
            margin-bottom: 0;
          }

          p {
            line-height: 1.79;
            letter-spacing: 0.7px;
            margin: 0;
          }

          span {
            min-width: 40px;
            display: inline-block;
          }
        }

        .contact {
          @include md {
            display: block;
            float: left;
            padding-left: 25px;
          }

          p {
            @include font-size(24px);
            letter-spacing: 0.4px;
          }
        }

        .see-more {
          text-align: center;
          position: relative;
          margin-top: 50px;
          display: block;
          width: 100%;
          float: left;
          margin-bottom: 80px;
          @include md {
            margin-top: 60px;
            margin-bottom: 0;
          }

          &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 1px;
            background-color: #000;
            top: 8px;
          }

          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 1px;
            background-color: #000;
            top: 10px;
          }

          span {
            background: #fff;
            font-weight: 700;
            color: #c5ad6c;
            padding: 0 35px;
            position: relative;
            z-index: 1;
          }
        }
      }
    }
  }

  .attractions-page-booking {
    background-color: #fafafa;
    padding: 45px 0 30px;
    text-align: center;

    h2 {
      margin: 0 10px;
      line-height: 1;
      padding: 0 65px;
      @include font-size(16px);
      font-weight: 500;
      color: #000;
      position: relative;
      display: inline-block;
      @include md {
        margin-bottom: 30px;
        @include font-size(24px);
      }

      span {
        background: #fafafa;
        padding: 0 20px;
        //position: relative;
        z-index: 1;
      }
      // i{
      //   position: absolute;
      //   width: 15px;
      //   height: 15px;
      //   transform: rotate(45deg);
      //   background: #000;
      //   left: 0;
      //   top: 2px;
      //   &:last-child{
      //     left: auto;
      //     right: 0;
      //   }
      // }
      // &:before {
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   right: 0;
      //   height: 1px;
      //   background-color: #000;
      //   top: 8px;
      // }
      //
      // &:after {
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   right: 0;
      //   height: 1px;
      //   background-color: #000;
      //   top: 10px;
      // }
    }

    .booking-widget {
      max-width: 880px;
      margin: 0 auto;
      position: static;
      height: auto;
      padding-bottom: 0;
      text-align: left;

      .tabs-content {
        height: auto;
        background-color: #fafafa;
        @include md {
          background-color: #fff;
        }
      }

      #booking-tab2 {
        .shop .form-group {
          @include md {
            width: 275px;
          }

          .input-showtext button {
            width: 100%;
          }
        }

        .name .form-group {
          width: 100%;
          @include md {
            width: 210px;
          }
        }

        .email .form-group {
          width: 100%;
          @include md {
            width: 300px;
          }
          margin-right: 20px;
        }

        .find-button {
          button {
            width: 100%;
            @include md {
              width: 204px;
            }
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
