

.about-resturants-info {
  max-width: 560px;
  margin: 0 auto;
  padding: 40px 30px;
  text-align: center;
  @include md {
    padding: 50px 0 80px;
  }

  h3 {
    font-family: 'YuGo';
    line-height: 1;
    margin-bottom: 20px;
    line-height: 1.4;
    letter-spacing: 4px;
    @include md {
      margin-bottom: 30px;
    }
  }

  p {
    @include font-size(14px);
    font-family: 'YuMin';
    line-height: 2;
    letter-spacing: 1.4px;
    margin: 0;
  }
}

.resturants-list{
  overflow: hidden;
  ul{
    margin:0;
    padding: 0;
  }
  li{    
    position: relative;
    @include md {
      margin-bottom: 100px;
      float: left;
      .resturant-list-info{
        right: 0;
      }
      &:nth-child(odd){
        float: right;
        .resturant-list-info{
          left: 0;
          right: auto;
        }
      }
    }
    @include lg {
      .resturant-list-info{
        right: -120px;
      }
      &:nth-child(odd){
        .resturant-list-info{
          left: -120px; 
        }
      }
    }
    .resturant-list-info{
      background: #fff;
      padding: 40px;      
      opacity: 0.95;
      color: #000;
      text-align: center;
      @include md {
        position: absolute;
        padding: 80px 60px;
        top: 100px;
        max-width: 500px;
        box-shadow: 14.1px 14.1px 90px 0 rgba(0, 0, 0, 0.2);
        text-align: left;
      }
      h2{
        @include font-size(20px);
        letter-spacing: 0.5px;
        font-family: 'YuMin';
        margin:0 0 25px;
        @include md {
          @include font-size(20px);
          margin:0 0 35px;
        }
      }
      > p{
        font-family: 'YuMin';
        line-height: 2;
        letter-spacing: 1.4px;
        margin-bottom: 30px;
        @include md {
          margin-bottom: 40px;
        }
      }
      h6{
        @include font-size(14px);
        line-height: 1.79;
        letter-spacing: 2.8px;
        margin-bottom: 10px;
        @include md {
          margin-bottom: 20px;
        }
      }
      .business-hours{  
        margin-bottom: 25px;      
        @include md {
          display: block;
          float: left;
          margin-bottom: 0;
        }
        p{
          line-height: 1.79;
          letter-spacing: 0.7px; 
          margin:0;
        }
        span{
          min-width: 40px;
          display: inline-block;
        }
      }
      .contact{        
        @include md {
          display: block;
          float: left;
          padding-left: 25px;
        }
        p{
          @include font-size(24px);
          letter-spacing: 0.4px;
        }
      }
      .see-more {
        text-align: center;
        position: relative;
        margin-top: 50px;
        display: block;
        width: 100%;
        float: left; 
        margin-bottom: 80px;
        @include md { 
          margin-top: 60px;
          margin-bottom: 0;
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          height: 1px;
          background-color: #000;
          top: 8px;
        }

        &:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          height: 1px;
          background-color: #000;
          top: 10px;
        }

        span {
          background: #fff;
          font-weight: 700;
          color: #c5ad6c;
          padding: 0 35px;
          position: relative;
          z-index: 1;
        }
      }
    }
  }  
}

.resturant-page-booking{
  background-color: #fafafa; 
  padding: 45px 0 30px;  
  text-align: center;  
  .booking-widget{
    max-width: 1060px;
    margin:0 auto; 
    position: static;
    height: auto; 
    padding-bottom: 0;
    text-align: left;
    .tabs-content{
      height: auto;
      background-color: #fafafa; 
      @include md {
        background-color: #fff;
      }
    }
    #booking-tab2 .shop .form-group{
     
      @include md { 
         width: 275px;
      }
      .input-showtext button{
        width: 100%;
      }
    } 
  }
}

.resturant-detail-popup {
  .room-info-header {
    span {
      @include font-size(24px);
      font-weight: bold;
      letter-spacing: 0.6px;
      line-height: 90px;
      margin-left: 30px;
    }
    .phone-number {
      float: right;
      padding-left: 0;
      padding-right: 20px;
      i {
        @include font-size(17px);
      }
    }
  }
}

.resturant-details-tabs {
  .container {
    .tabs {
      padding: 120px 0 78px 0;
      ul {
        li {
          a {
            @include font-size(16px);
            letter-spacing: 3.2px;
            font-weight: normal;
            text-transform: uppercase;
          }
        }
      }
      .tabs-content {
        .menu-images {
          @extend %clearfix;
          .col-1-2 {
            float: left;
            &:last-of-type {
              float: right;
            }
          }
        }
        .menu-details {
          background: $default-bg;
          padding: 50px 40px;
          margin-top: 20px;
          .menu-title {
            @include font-size(34px);
            font-family: 'Lato';
            line-height: 20px;
            letter-spacing: 6.8px;
            font-weight: normal;
            padding: 40px 0;
            border-top: 1px solid $default-color;
            border-bottom: 2px solid $default-color;
            margin: 0;
          }
          .sub-menu-title {
            @include font-size(20px);
            line-height: 31px;
            font-weight: bold;
            padding: 20px 0;
            border-bottom: 1px solid $default-color;
          }
          .menu-items {
            @extend %clearfix;
            margin-top: 20px;
            border-bottom: 2px solid $default-color;
            padding-bottom: 20px;
            .menu {
              @extend %clearfix;
              width: 50%;
              float: left;
              padding-right: 30px;
              &:last-of-type {
                padding-left: 30px;
                border-left: 1px solid $default-color;
              }
              ul {
                @extend %clearfix;
                li {
                  @extend %clearfix;
                  font-weight: bold;
                  line-height: 20px;
                  padding: 20px 0;
                  .menu-item-name {
                    @include font-size(14px);
                    float: left;
                    margin: 0;
                    span {
                      @include font-size(12px);
                      display: block;
                      font-weight: normal;
                      padding-top: 10px;
                    }
                  }
                  .menu-price {
                    @include font-size(20px);
                    float: right;
                    font-family: 'Lato';
                  }
                }
              }
            }
          }
          .other-items {
            ul {
              li {
                padding: 30px 0;
                .other-item-name {
                  @include font-size(14px);
                  margin: 0;
                  span {
                    @include font-size(12px);
                    display: block;
                    font-weight: normal;
                    padding-top: 10px;
                  }
                }
              }
            }
          } 
          .warning-messages-list {
            @extend %clearfix;
            .warning-message {
              font-family: 'YuMin';
              @include font-size(14px);
              width: 25%;
              padding: 30px 0;
              border-top: 2px solid $default-color;
              float: left;
              margin-right: 30px;
              line-height: 30px;
            }
          }         
        }
      }
    }
  }
}