.spa-content {
  position: relative;

  .read-statement {
    @include md {
      padding: 70px;
    };
    padding: 35px;
    max-width: 540px;
    opacity: 0.95;
    background-color: $secondary-color;
    @include md {
      position: absolute;
    };
    top: 80px;
    right: 150px;

    h3 {
      font-family: YuGo;
      @include font-size(20px);
      font-weight: bold;
      line-height: 1.67;
      letter-spacing: 0.6px;
      @include md {
        text-align: left;
        @include font-size(24px);
      };
      text-align: center;
      color: $default-color;

      &.last-header {
        margin-bottom: 50px;
      }
    }

    p {
      font-family: YuMin;
      font-size: 14px;
      font-weight: 500;
      line-height: 2;
      letter-spacing: 1.4px;
      text-align: left;
      color: #333333;
    }

    ul li {
      font-family: YuGo;
      font-size: 14px;
      font-weight: 500;
      line-height: 2;
      letter-spacing: 1.4px;
      text-align: left;
      color: #333333;
    }
  }
}

.spa {
  &.promo-content {
    background: $secondary-color;
    .container ul li .see-more span{
      background: $secondary-color;
    }
    h3 {
      padding: 0 0 40px;
    }
    @include md {
      h3 {
        padding: 62px 0 40px;
      }
    }
  }
}
