footer
	.large-container
 
			.footer-logo.col.col-1-3
				img(src='/assets/images/logo_pc.svg')
			.footer-top-menu.col.col-2-3
				ul
					li
						a(href="#") オファー
					li
						a(href="#") ギャラリー
					li
						a(href="#") ルーム
					li
						a(href="#") アクセス
					li
						a(href="#") レストラン
					li
						a(href="#") 会議・宴会
					li
						a(href="#") 設備
					li
						a(href="#") 観光名所
					li
						a(href="#") 温泉&スパ
			.social-media.col.col-1-3 
				a(href="#").icon.sprite-fb_pc
				a(href="#").icon.sprite-tw_pc
			.footer-secondar-menu.col.col-2-3
				ul
					li
						a(href="#") マイステイズ公式サイト
					li
						a(href="#") ホテル＆リゾート
					li
						a(href="#") 目的地
					li
						a(href="#") 人気な観光名所
					li
						a(href="#") サイトマップ
				ul
					li
						a(href="#") ご意見・ご要望
					li
						a(href="#") チャットする
					li
						a(href="#") お問い合わせ
					li
						a(href="#") ご宿泊予約のキャンセル
					li
						a(href="#") お電話：03-3434-3939
				ul
					li
						a(href="#") 企業概要
					li
						a(href="#") 企業情報
					li
						a(href="#") 開発
					li
						a(href="#") 採用情報
					li
						a(href="#") メディア連絡先
				ul
					li
						a(href="#") 方針
					li
						a(href="#") 個人情報保護方針
					li
						a(href="#") ご宿泊予約のキャンセルポリシー
			.copyright.col.col-1-3
				| © 2018 MYSTAYS HOTEL MANAGEMENT Co., Ltd.
			.footer-bottom-menu.col.col-2-3
				ul
					li
						a(href="#") クッキーの設定
					li
						a(href="#") よくあるご質問
					li
						a(href="#")  最低価格保証
