header
  .header-left
    .logo
      a(href='/')
        img(src='../assets/narita/images/logo_pc.svg', alt='')
  nav.top-menu.visible-desktop
    ul
      li
        a(href='#') オファー
      li
        a(href='#') ギャラリー
      li
        a(href='#') ルーム
      li
        a(href='#') アクセス
      li
        a(href='#') レストラン
      li
        a(href='#') 会議・宴会
  .header-right
    .top-cta.visible-desktop
      a.phone(href='#')
        i.icon-phone
        span 03-3434-3939
      .choose-lang
        .selected-lang Language
        ul
          li
            a.active(href='#')
              span.icon-flag_jp
                span.path1
                span.path2
              | 日本語
          li
            a(href='#')
              span.icon-flag_en
                span.path1
                span.path2
                span.path3 
              | English
          li
            a(href='#')
              span.icon-flag_ch
                span.path1
                span.path2
              | 한국어
          li
            a(href='#')
              span.icon-flag_kr
                span.path1
                span.path2
                span.path3
                span.path4 
              | 簡体中文
          li
            a(href='#')
              span.icon-flag_jp
                span.path1
                span.path2
              | 簡体中文
    .sign-in(data-show-id='login-form')
      .icon-login
      p.visible-desktop アカウント
    a.mobile-phone.visible-device(href='#')
      i.icon-phone
    #hamburger.hamburger
      span
      span
      span
    include ../components/login-form.pug
nav#sideNav.side-navigation
  ul.side-menu.visible-desktop
    li
      a(href='#') オファー
    li
      a(href='#') ギャラリー
    li
      a(href='#') ルーム
    li
      a(href='#') アクセス
    li
      a(href='#') レストラン
    li
      a(href='#') 会議・宴会
  ul.side-menu.visible-device
    li
      a(href='#') オファー
    li
      a(href='#') ギャラリー
    li
      a(href='#') ルーム
    li
      a(href='#') アクセス
    li
      a(href='#') レストラン
    li
      a(href='#') 会議・宴会
  .choose-lang.visible-device
    .selected-lang Language
    ul
      li
        a.active(href='#')
          span.icon-flag_jp
            span.path1
            span.path2
          | 日本語
      li
        a(href='#')
          span.icon-flag_en
            span.path1
            span.path2
            span.path3 
          | English
      li
        a(href='#')
          span.icon-flag_ch
            span.path1
            span.path2
          | 한국어
      li
        a(href='#')
          span.icon-flag_kr
            span.path1
            span.path2
            span.path3
            span.path4 
          | 簡体中文
      li
        a(href='#')
          span.icon-flag_jp
            span.path1
            span.path2
          | 簡体中文
include ../components/reset-form.pug