header
	.header-left
		.logo
			a(href="#")
				img(src='../assets/narita/images/logo_pc.svg', alt='')
	nav.top-menu.visible-desktop
		ul
			li 
				a(href="#") オファー
			li 
				a(href="#") ギャラリー
			li 
				a(href="#") ルーム
			li 
				a(href="#") アクセス
			li 
				a(href="#") レストラン
			li 
				a(href="#") 会議・宴会
	.header-right
		.top-cta.visible-desktop
			a.phone(href="#") 
				i.icon.sprite-phone
				span 03-3434-3939
			.choose-lang
				.selected-lang
					| Language
				ul 
					li 
						a.active(href="#") 
							i.icon.sprite-flag_en
							| 日本語
					li 
						a(href="#") 
							i.icon.sprite-flag_jp 
							| English 	
					li
						a(href="#")
							i.icon.sprite-flag_kr 
							| 한국어
					li 
						a(href="#")
							i.icon.sprite-flag_ch
							| 簡体中文
					li 
						a(href="#")
							i.icon.sprite-flag_ch
							| 簡体中文
		.sign-in
			.icon.sprite-account_pc
			p.visible-desktop アカウント
		a.mobile-phone.visible-device(href="#") 
			i.icon.sprite-phone-mobile
		#hamburger.hamburger
			<span></span>
			<span></span>
			<span></span>
nav#sideNav.side-navigation
	ul.side-menu.visible-desktop
		li 
			a(href="#") オファー
		li 
			a(href="#") ギャラリー
		li 
			a(href="#") ルーム
		li 
			a(href="#") アクセス
		li 
			a(href="#") レストラン
		li 
			a(href="#") 会議・宴会
	ul.side-menu.visible-device
		li 
			a(href="#") オファー
		li 
			a(href="#") ギャラリー
		li 
			a(href="#") ルーム
		li 
			a(href="#") アクセス
		li 
			a(href="#") レストラン
		li 
			a(href="#") 会議・宴会
	.choose-lang.visible-device
		.selected-lang
			| Language
		ul 
			li 
				a.active(href="#") 
					i.icon.sprite-flag_en
					| 日本語
			li 
				a(href="#") 
					i.icon.sprite-flag_jp 
					| English 	
			li
				a(href="#")
					i.icon.sprite-flag_kr 
					| 한국어
			li 
				a(href="#")
					i.icon.sprite-flag_ch
					| 簡体中文
			li 
				a(href="#")
					i.icon.sprite-flag_ch
					| 簡体中文
	