

// build:js scripts/vendor.js
// bower:js
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDGGZYjhnyG90d0dkBXCzZx5qGt-83lXQs', type='text/javascript')
script(src='/bower_components/vanilla-lazyload/dist/lazyload.js')
script(src='/bower_components/instafeed.js/instafeed.min.js')
script(src='/bower_components/slick-carousel/slick/slick.min.js')
script(src='/bower_components/jquery-ui/jquery-ui.min.js')
// endbower
// endbuild

// build:js scripts/main.js
script(src='/assets/narita/scripts/daterangepicker.js')
script(src='/assets/narita/scripts/tabs.js')
script(src='/assets/narita/scripts/datepicker-ja.js')
script(src='/assets/narita/scripts/datepicker-ko.js')
script(src='/assets/narita/scripts/swipe.js')
script(src='/assets/narita/scripts/modal-lightbox.js')
script(src='/assets/narita/scripts/videoplayer.js')
script(src='/assets/narita/scripts/scroll.js')
script(src='/assets/narita/scripts/main.js')
// endbuild
