
#locale(data-lang="ja")
// build:js scripts/vendor.js
// bower:js
script(src='/bower_components/jquery/dist/jquery.min.js')
 
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD9G3yU6CBFBMhuClWTKYsxZIDk5D44Szs', type='text/javascript')
script(src='/bower_components/vanilla-lazyload/dist/lazyload.js')
script(src='/bower_components/instafeed.js/instafeed.min.js')
script(src='/bower_components/slick-carousel/slick/slick.min.js')
// endbower
// endbuild

// build:js scripts/main.js
script(src='/assets/narita/scripts/daterangepicker.js')
script(src='/assets/narita/scripts/tabs.js')
script(src='/assets/narita/scripts/modal-lightbox.js')
script(src='/assets/narita/scripts/videoplayer.js')
script(src='/assets/narita/scripts/scroll.js')
script(src='/assets/narita/scripts/main.js')
// endbuild
