// build:css styles/vendor.css
// bower:css
link(rel='stylesheet', href='/bower_components/slick-carousel/slick/slick.css')
// endbower
// endbuild

// build:css styles/main.css
link(rel='stylesheet', href='/assets/narita/styles/main.css')
// endbuild

// build:css styles/main-jp.css
//link(rel='stylesheet', href='/assets/narita/styles/main-jp.css')
// endbuild

// build:css styles/main-en.css
//link(rel='stylesheet', href='/assets/narita/styles/main-en.css')
// endbuild


link(rel='stylesheet', href='/assets/narita/styles/hotel-datepicker.css')
